{% extends "base.html" %}
{% load staticfiles %}


{% block title %} Browser Tests {% endblock %}

{% block extra-css %}
    <link rel="stylesheet" href="{% static "css/mocha.css" %}"/>
{% endblock %}

{% block main %}
    <h1> Browser Tests </h1>
    <div id="mocha"></div>
{% endblock %}

{% block jscript-extend %}
  {% if debug %}
    <script data-main="{% static "javascript/test/main-browser-tests.js" %}"src="{% static "javascript/lib/require-min.js" %}"></script>
  {% else %}
  <script  src="{% static "javascript/lib/require-min.js" %}"></script>
  <script src="{% static "javascript/base/main-browser-tests.js" %}"></script>
  {% endif %}
{% endblock %}
