{% extends "base.html" %}

{% block targetblank %}
  <base target="_blank">
{% endblock %}

{% block extra-css %}

  <!-- FIXME move to css file perhaps -->
<style>
.tftable {font-size:12px;color:#333333;width:100%;border-width: 1px;border-color: #ebab3a;border-collapse: collapse;}
.tftable th {font-size:12px;background-color:#e6983b;border-width: 1px;padding: 8px;border-style: solid;border-color: #ebab3a;text-align:left;}
.tftable tr {background-color:#f0c169;}
.tftable td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #ebab3a;}
.tftable tr:hover {background-color:#ffffff;}
</style>

{% endblock %}


{% block main %}
<table class="tftable">
  <tr> <th> Concept</th> <th> Broken Link </th><tr>
  {% for bl in blinks %}
  <tr>
    <td> <a href="{% url "graphs:concepts" bl.0 %}">{{bl.0}}</a></td>
    <td><a href="{{bl.1}}"> {{bl.1}} </a> </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
