{% extends "two-panel.html" %}

{% block title %}
KMap Explorer
{% endblock %}

{% block jscript %}
<script type="text/javascript" src="{{ STATIC_URL }}javascript/lib/d3.v2.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascript/lib/jQuery-latest.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascript/lib/viz.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascript/lib/underscore-min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascript/lib/backbone.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}javascript/agfk/utils/utils.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascript/agfk/models/models.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascript/agfk/collections/collections.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascript/agfk/views/views.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascript/agfk/routers/routers.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascript/agfk/main.js"></script>
{% endblock %}

{% block rightpanel %}
<div id="righttext">
</div>
{% endblock %}


{% block mainstart %}
    <div id="explore-learn-div">
        <button class="el-nav-button button-left active">
			Explore
        </button>	
        <button class="el-nav-button button-right">
			Learn
        </button>	
    </div>
{% endblock %}








