<!DOCTYPE html>
<html>
  <head>
    {% block meta %}
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {% endblock %}

    <base target="_blank">
    
    {% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/standard.css"/>
    {% endblock %}

    <title> {% block title %}Metacademy{% endblock %}</title>

  </head>

  <body>
    <div id="header">
      {% block header %}
      <input type="text" id="searchbox" onkeyup="AGFK.appRouter.parseSearchBox(event, this)"> </input>
      {% endblock %}
    </div>


    <div id="main">
      
      <div id="explore-learn-button-wrapper">
        <button class="el-nav-button button-left" id="explore-button">
	  Explore
        </button>	
        <button class="el-nav-button button-right" id="learn-button">
	  Learn
        </button>	
      </div>

      <div id="learn-view-wrapper"></div>
      <div id="explore-view-wrapper"></div>

      {% include "node-title-view.html" %}
      {% include "node-detail-view.html" %}
      {% include "node-detail-view.html" %}
      {% include "resource-view.html" %}
      {% include "dependency-view.html" %}
      {% include "pointers-view.html" %}

    </div>

    <script type="text/javascript">
      // current hack for multiple development environments will change for server
      window.CONTENT_SERVER = "{{ content_server }}";
      window.STATIC_URL = "{{ STATIC_URL }}";
    </script>

    {% block jscript %}
    <script type="text/javascript" src="{{ STATIC_URL }}javascript/lib/d3.v2.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascript/lib/jQuery-latest.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascript/lib/viz.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascript/lib/underscore-min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascript/lib/backbone.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}javascript/agfk/utils/utils.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascript/agfk/models/models.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascript/agfk/collections/collections.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascript/agfk/views/explore-view.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascript/agfk/views/learning-view.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascript/agfk/routers/routers.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascript/agfk/main.js"></script>
    {% endblock %}
  </body>
</html>          





