*.py[cod]
.idea
# C extensions
*.so


# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject        

# tmp folders/files
tmp
*~
\#*\#

# Mac
.DS_Store

# local configuration
config.py
settings.py

# local copies
media
