<script type="text/template" id="full-screen-content-editor">
  <div class="ec-title">
    <input type="text" class="title-input" placeholder="title of concept" value="<%- title %>">
  </div>

  <div class="ec-tabs">
    <ul>
      <li><button id="btn-summary">Summary</button></li>
      <li><button id="btn-goals">Learning Goals</button></li>
      <li><button id="btn-dependencies">Prerequisites</button></li>
      <li><button id="btn-resources">Resources</button></li>
      <!-- <li><button id="btn-exercises">Exercises</button></li> -->
      <!-- <li><button id="btn-software">Software</button></li> -->
      <li><button id="btn-pointers">See Also</button></li>
      <% if (window.IS_META_SUPERUSER) {%>
      <li><button id="btn-settings">Settings</button></li>
      <% } %>
      <!-- <li><button id="btn-history">History</button></li> -->
    </ul>
  </div>

  <!-- wrappers for various editing sections: implement tab view by hiding all elements
       with a given class and showing the one desired element -->

  <div class="ec-display-wrap" id="summary">
    <div class="instructions">
      <div class="instructions-icon">
        instructions
      </div>
      <div class="instructions-text">
        Provide a brief summary of the concept (typically 1-4 sentences) that allows the reader to determine whether they know the concept -- see existing concepts or the first paragraph of wikipedia articles for examples.
      </div>
    </div>
    <textarea><%=summary%></textarea>
  </div>

  <div class="ec-display-wrap" id="resources">
    <div class="instructions">
      <div class="instructions-icon">
        instructions
      </div>
      <div class="instructions-text">
        Provide learning resources that the reader can consult in order to learn about the topic. These will generally be textbooks, video lectures, lecture notes, and review papers, although other sources such as Ph.D. theses or individual papers are also possible. The resource list means "read one of the following," rather than "read all of the following."
      </div>
    </div>
    <ul id="resources-tidbit-wrap" class="tidbit-wrap">
      <button class="add-item-button" id="add-resource-button">+ Add Resource</button>
    </ul>
  </div>

  <div class="ec-display-wrap" id="dependencies">
    <div class="instructions">
      <div class="instructions-icon">
        instructions
      </div>
      <div class="instructions-text">
        This list specifies the prerequisites for the given concept. Add prerequisites using the graph (see the instructions in the bottom right of the graph view).
      </div>
    </div>
    <% if (dependencies.length==0) { %>
    <p class="no-content-info">
      This concept has no prerequisites specified.
    </p>
    <%}%>
    <ul class="sortable" id="dependencies-list">

    </ul>


  </div>

  <div class="ec-display-wrap" id="pointers">
    <div class="instructions">
      <div class="instructions-icon">
        instructions
      </div>
      <div class="instructions-text">
        Specify relationships to other concepts using simplified markdown syntax, e.g"* Logistic regression is a kind of [generalized linear model](generalized_linear_models)". Where the link syntax is "[display text](concept_tag_from_url)".
      </div>
    </div>
    <textarea><%=pointers%></textarea>
  </div>

  <div class="ec-display-wrap" id="goals">
    <div class="instructions">
      <div class="instructions-icon">
        instructions
      </div>
      <div class="instructions-text">
        Specify the goals for the user. The goals can contain embedded lists by using asterisks for bullet points "* a list item" or "** a doubly embedded list item".
      </div>
    </div>
    <ul id="goals-tidbit-wrap" class="tidbit-wrap sortable">
      <button class="add-item-button" id="add-goal-button">+ Add Goal</button>
    </ul>
  </div>

  <div class="ec-display-wrap" id="exercises">
    <div class="instructions">
      <div class="instructions-icon">
        instructions
      </div>
      <div class="instructions-text">
        Specify and explain links to exercises the user can practice in order to understand this concept further using simplified markdown syntax (TODO this should be more structured and allow users to write their own exercises).
      </div>
    </div>
    <textarea><%=exercises%></textarea>
  </div>

  <div class="ec-display-wrap" id="software">
    <div class="instructions">
      <div class="instructions-icon">
        instructions
      </div>
      <div class="instructions-text">
        Specify and explain links to software implementations of the specified concept (TODO these should include more structure, e.g. language fields).
      </div>
    </div>
    <textarea><%=software%></textarea>
  </div>

  <div class="ec-display-wrap" id="history">
  </div>

  <div class="ec-display-wrap" id="settings">
    <label>url tag</label>
    <input type="text" class="tag-input" placeholder="url tag for concept" value="<%- tag %>">
    <p>
      note: these settings are only visible to moderators
    </p>
  </div>
</script>
