<script type="text/template" id="global-resource-editor-template">

  <% if (title && !this.gredit) { %>
  <div class="locked-resource-info">
    <h1> <%-title || "-"%></h1>
    <h2 class="edit-gr"><span>edit/change</span></h2>

    <label>Authors</label>
    <p><%-this.model.getAuthorsString() || "-"%></p>

    <label>Brief description</label>
    <p> <%-description || "-"%></p>


    <label>URL</label>
    <a href="<%=url%>"><%-url || "-"%></a>

    <label>Resource type</label>
    <p><%-resource_type || "-"%></p>

    <label>Access</label>
    <p><%-access|| "-"%></p>

    <label>Resource year</label>
    <p><%-year || "-"%></p>

    <label>Edition years</label>
    <p><%-edition_years || "-"%></p>


  </div>

  <% } else {%>

  <div class="search">
    <label>Search for a learning resource</label>
    <input type="text" class="gresource-search" placeholder="e.g. EdX or Artificial Intelligence">
    <button class="grsearch">Search</button>
    <div class="grsearch-results">
    </div>
  </div>
  <% }%>

  <% if (this.gredit) { %>
  <hr>
  <div class="fields">
    <h1>Or Edit the Resource</h1>
    <div class="warning">
      WARNING: editing these fields will affect all of the concepts that use this resource. Please edit with care =)
    </div>
    <label>Title</label>
    <div class="gresource-title-wrap">
      <input type="text"  class="gresource-title" name="title-<%=this.cid%>" placeholder="e.g. EdX Artificial Intelligence" value="<%= title %>">
    </div>

    <label>Authors (separate with "and")</label>
    <input type="text" class="author-field" name="authors-<%=this.cid%>" placeholder="e.g. Jim Henry and Mark Lollipop" value="<%= this.model.getAuthorsString() %>">

    <label>Brief description</label>
    <textarea  class="text-field" name="description-<%=this.cid%>" placeholder="e.g. a textbook for a graduate machine learning course with a focus on Bayesian methods"><%= description %></textarea>

      <label>Resource url</label>
      <input type="text" class="text-field" name="url-<%=this.cid%>" placeholder="e.g. https://www.coursera.org/course/ml" value="<%= url %>">

      <label>Resource type</label>
      <input type="text" class="text-field" name="resource_type-<%=this.cid%>" placeholder="e.g. textbook" value="<%= resource_type %>">

      <label>Access</label>
      <select name="access-<%=this.cid%>" class="select-field">
        <option value="free" <% if (access=="free"){ %> selected  <% } %>>free</option>
        <option value="reg" <% if (access=="reg"){ %> selected  <% } %>>free but requires registration</option>
        <option value="paid" <% if (access=="paid"){ %> selected  <% } %>>costs money</option>
      </select>

      <label>Resource year</label>
      <input type="text" class="text-field" name="year-<%=this.cid%>" placeholder="e.g. 2012" value="<%= year %>">

      <label>Edition years (separate with a comma)</label>
      <input type="text" class="array-field" name="edition_years-<%=this.cid%>" placeholder="e.g. 1996, 2004, 2012" value="<%= edition_years %>">

    <button class="end-gr-edit">Finished Editing Resource Fields</button>

  </div>
  <%}%>
</script>
