{% extends "base.html" %}
{% load staticfiles %}

{% block extra-css %}
<link rel="stylesheet" href="{% static "css/lib/ionicons.css" %}"/>
<link rel="stylesheet" href="{% static "css/explore-learn.css" %}"/>
<link rel="stylesheet" href="{% static "css/lib/colorbox.css" %}" media="screen" />
<link rel="stylesheet" href="{% static "css/lib/kmapcss/graph.css" %}" />
<link rel="stylesheet" href="{% static "css/lib/kmapcss/list.css" %}" />
<link rel="stylesheet" href="{% static "css/explore-graph.css" %}"/>
<link rel="stylesheet" href="{% static "css/apptools.css" %}" />
<link rel="stylesheet" href="{% static "css/concept-list.css" %}" />
<link rel="stylesheet" href="{% static "css/concept-details.css" %}"/>
<link rel="stylesheet" href="{% static "css/graph-creator.css" %}" />
{% endblock %}

{% block jscript-extend %}
<script>
  window.agfkGlobals = {};
  agfkGlobals.userInitData = {{ user_data|safe }};
  agfkGlobals.graphInitData = {{ graph_init_data | safe }};
  agfkGlobals.auxModel = null; // init in main js app
  agfkGlobals.isCreating = true; // init in main js app
  agfkGlobals.globalResources = {};
  agfkGlobals.apiBase = "/graphs/api/v1/"; // TODO remove hardcoding if possible
  agfkGlobals.idcheckUrl = "{% url 'graphs:idchecker' %}";
  agfkGlobals.auxData = {{ full_graph_skeleton|safe }};
</script>
{% if debug %}
<script data-main="{% static "javascript/main.js" %}" type="text/javascript" src="{% static "javascript/lib/require-min.js" %}"></script>
{% else %}
<script  src="{% static "javascript/lib/require-min.js" %}"></script>
<script src="{% static "javascript/main-built.js" %}"></script>
{% endif %}
{% endblock %}
{% block main %}

{% include "agfk-structure-loader.html" %}

{% endblock %}
