<script type="text/template" id="resource-editor-template">

  <div class="ec-tabs res-tabs">
    <ul>
      <li ><button class="btn-global-resource-fields">Resource Selection</button></li>
      <li ><button class="btn-concept-specific-fields">Resource Info for the Concept</button></li>
    </ul>
  </div>

  <div class="global-resource-fields">
  </div>

  <div class="concept-specific-fields">
    <div class="resource-core-fields">
      <label>Does this resource cover all of the learning goals?</label>
      <input type="radio" class="core-radio-field" name="core-<%=this.cid%>" value="core"  <%= core ? "checked" : "" %>>Yes
      <input type="radio" class="core-radio-field" name="core-<%=this.cid%>" value="supp" <%= (core == 0) ? "checked" : "" %>>No
      <% var goals = this.model.get("concept").get("goals") %>
      <% if (goals.length) { %>
      <div class="resource-goals-covered" style="<%- core ? 'display: none' : '' %>">
        <label>Which goals does it cover?</label>
        <% goals.each(function(goal){ %>
        <label class="rgc-goal"><input type="checkbox" name="resource-goal-<%= goal.cid %>" value="<%= goal.id %>" <%- goals_covered.indexOf(goal.id) > -1 ? "checked" : "" %>> <%- goal.get("text") %> </label>
        <% }); %>
      </div>
      <% } %>
    </div>

    <label>Access</label>
    <select name="access-<%=this.cid%>" class="select-field">
      <option value="free" <% if (access=="free"){ %> selected  <% } %>>free</option>
      <option value="reg" <% if (access=="reg"){ %> selected  <% } %>>free but requires registration</option>
      <option value="paid" <% if (access=="paid"){ %> selected  <% } %>>costs money</option>
    </select>

    <div class="resource-location-wrapper">
    </div>

    <label>Edition</label>
    <input type="text" class="text-field" name="edition-<%=this.cid%>" placeholder="e.g. 2" value="<%= edition %>">

    <label>Additional dependencies (enter concept title, separate with comma)</label>
    <input type="text" class="deps-field" name="additional_dependencies-<%=this.cid%>" placeholder="e.g. logistic regression,gradient descent" value="<%= additional_dependencies.map(function(d){return d.title;}).join(', ') %>">

    <label>Notes</label>
    <textarea class="array-text-field" name="notes-<%=this.cid%>" placeholder="e.g. section 2 provides an overview of machine learning; notation is found on pg. 7"><%= notes %></textarea>
  </div>

</script>
