<script type="text/template" id="resource-location-template">
  <label>Location url</label>
  <input type="text"  class="text-field" name="url-<%=this.cid%>" placeholder="url to specific location within resource, e.g. http://www.resource.com/some-pdf.pdf#page=20" value="<%= url %>">

  <label>Location display text</label>
  <textarea  class="text-field" name="location_text-<%=this.cid%>" placeholder="e.g. a textbook for a graduate machine learning course with a focus on Bayesian methods"><%= location_text %></textarea>
</script>
