<script type="text/template" id="resource-editor-template">

  <button class="expand-resource ec-button"> + show all fields </button>
  <button class="contract-resource ec-button"> - collapse fields</button>

  <div class="global-resource-fields">
  </div>

  <div class="resource-location-wrapper">
  </div>
  <!-- <div class="expand-content"> -->

  <label>Edition</label>
  <input type="text" class="text-field" name="edition-<%=this.cid%>" placeholder="e.g. 2" value="<%= edition %>">

  <label>Additional dependencies (enter concept title, separate with comma)</label>
  <input type="text" class="deps-field" name="additional_dependencies-<%=this.cid%>" placeholder="e.g. logistic regression,gradient descent" value="<%= additional_dependencies.map(function(d){return d.title;}).join(', ') %>">

  <label>Notes</label>
  <textarea class="text-field" name="notes-<%=this.cid%>" placeholder="e.g. section 2 provides an overview of machine learning"><%= notes %></textarea>

  <label>Does this resource cover all of the learning goals?</label>
  <input type="radio" class="core-radio-field" name="core-<%=this.cid%>" value="core"  <%= core ? "checked" : "" %>>Yes
  <input type="radio" class="core-radio-field" name="core-<%=this.cid%>" value="supp" <%= (core == 0) ? "checked" : "" %>>No

  <label>Access</label>
  <select name="access-<%=this.cid%>" class="select-field">
    <option value="free" <% if (access=="free"){ %> selected  <% } %>>free</option>
    <option value="reg" <% if (access=="reg"){ %> selected  <% } %>>free but requires registration</option>
    <option value="paid" <% if (access=="paid"){ %> selected  <% } %>>costs money</option>
  </select>

</script>
