{% extends "base.html" %}
{% load staticfiles %}

{% block extra-css %}
    <link rel="stylesheet" href="{% static "css/about.css" %}"/>
{% endblock %}

{% block main %}
<section class="about-meta">
<header>
  <h1>
    About Metacademy
  </h1>
</header>
<p>
Imagine having all knowledge at your fingertips. What would your life be like if whenever you have a question about any topic&mdash;economics, philosophy, string theory&mdash;you can go to a web site, read about it, and actually understand it?  We think this would be incredibly empowering: you would no longer have to spend time figuring out <em>where</em> or <em>how</em> to learn about a topic!
</p>
  
<p>
By some counts, you already have all knowledge at your fingertips. For any question with a simple answer&mdash;the population of Mongolia, or what the heck that cryptic error message means&mdash;you can find it on sites like Wikipedia or Stack Overflow.  But try learning something of conceptual depth from Wikipedia or the published scientific literature, and you're in for a lot of agony. Before you learn this thing, you need to learn this and that other thing, and pretty soon you're deep in dependency hell.
</p>
  
<p>
Now imagine you have a super-smart futuristic machine, and you ask it, "What are these deep neural networks I've been hearing so much about?"  It churns away, and then spits out a carefully constructed ordered list of resources for you to consult:
</p>
<ol>
<li> read chapter 7 of textbook X </li>
<li> watch video lecture Y </li>
<li> work through problems 7-9 found at website Z</li>
</ol>
<p>
This list is <em>your list</em>, built based on your own goals and what you already know. Your friend asks it the same question and gets back a list that's longer, or shorter, or maybe takes a different path entirely. This machine can bring you up to speed on any topic in a matter of hours or days. It doesn't take four years, and it doesn't cost &#36;200,000.
</p>

<p>
Okay, that's science fiction. But just barely. The essential functionality can be achieved with today's technology, and we think it's time to get started structuring our scientific and social knowledge in a way that makes it possible. The problem is dependency hell, and what we need is a package manager to keep track of it all, a sort of "apt-get for knowledge."
</p>

<p>
Metacademy is an <a class="external-link underline" target="_blank" href="https://github.com/metacademy">open-source platform</a> where experts from various disciplines (mathematics, computer science, medicine, music, etc.) can build a dependency graph of concepts. Then, as a user, you type in what you want to know, and you get back an ordered list of concepts covering everything you need to know to get there, with pointers to open online resources where you can learn them.  And if a topic catches your interest on the way, you can follow one of the forward links to learn about that as well. Not exactly <i>The Matrix</i>, but we hope you'll still find it useful.
</p>

<p>
Right now, the content focuses on machine learning and probabilistic AI, because that's what the current contributors are experts in. But as we've been building the graph, we've been pleasantly surprised by how nicely everything fits together and how direct some of the paths are, and we see no reason this can't be extended much further. 
</p>

<p>
We don't expect Metacademy to make it <em>easy</em> to learn advanced topics&mdash;we're not sure that's even possible. Learning things on your own, without the structure of deadlines and exams, inevitably takes a bit of motivation and discipline. And our graph, built by mere humans, probably has its quirks. But with any luck, we'll take a process that used to be frustrating and bewildering, and make it merely challenging&mdash;and hopefully fun and rewarding as well.
</p>

</section>
{% endblock %}
