{% extends "base.html" %}
{% load staticfiles %}
{% load std_extras %}

{% block meta-description %}
    <meta name="description" content="{{ concept_data.title}}: {{concept_data.summary|shorten_to_sentence}}">
{% endblock %}

{% block targetblank %}
<base target="_blank">
{% endblock %}

{% block extra-css %}
<link rel="stylesheet" href="{% static "css/explore-learn.css" %}"/>
<link rel="stylesheet" href="{% static "css/graphs.css" %}"/>
<link rel="stylesheet" href="{% static "css/explore-graph.css" %}"/>
<link rel="stylesheet" href="{% static "css/ionicons.css" %}"/>
{% endblock %}

{% block main %}

<div id="nojs-content">
  {% include "concept-presentation.html" %}
</div>

{% include "agfk-structure-loader.html" %}

    <script>
      var el = document.getElementById("nojs-content");
      el.parentElement.removeChild(el);
    </script>
{% endblock %}

  {% block jscript %}
    <script>
      window.agfkGlobals = {};
      agfkGlobals.userInitData = {{ user_data|safe }};
      agfkGlobals.auxData = {{ full_graph_skeleton|safe }};
      agfkGlobals.auxModel = null; // init in main js app
    </script>
  {% if debug %}
  <script data-main="{% static "javascript/agfk/main.js" %}" type="text/javascript" src="{% static "javascript/lib/require-min.js" %}"></script>

  {% else %}
  <script  src="{% static "javascript/lib/require-min.js" %}"></script>
  <script src="{% static "javascript/agfk/main-built.js" %}"></script>
  {% endif %}
  {% endblock %}
