{% include "apptools.html" %}

  <div id="learn-view-wrapper">
  </div>
  <div id="explore-graph-view-wrapper">
  </div>
  <div id="load-view-wrapper">
  </div>

  <div id="concept-editor-wrap">
  </div>

  <div id="gc-wrap">
  </div>



  {% include "node-title-view.html" %}
  {% include "node-detail-view.html" %}
  {% include "resource-view.html" %}
  {% include "dependency-view.html" %}
  {% include "pointers-view.html" %}
  {% include "outlink-view.html" %}
  {% include "loading-view.html" %}
  {% include "resources-section-view.html" %}
  {% include "full-screen-content-editor.html" %}



<div id="apptools-button" class="small-vp-button">
  Toolbox
</div>
