<div id="main-display-view">
  <div id="learn-view-wrapper">
  </div>

  <div id="graph-view-wrapper">
  </div>

  <div id="concept-editor-wrap">
  </div>

  <div id="gc-wrap">
  </div>

</div>

  {% include "node-title-view.html" %}
  {% include "node-detail-view.html" %}
  {% include "resource-view.html" %}
  {% include "loading-view.html" %}
  {% include "resources-section-view.html" %}
  {% include "concept-list-view.html" %}
  {% include "apptools.html" %}
  {% include "full-screen-content-editor.html" %}
  {% include "graph-editor-instructions.html" %}
  {% include "resource-editor.html" %}
  {% include "global-resource-editor.html" %}
  {% include "resource-location-template.html" %}
  {% include "goal-template.html" %}
