{% extends "base.html" %}
{% load staticfiles %}
{% load std_extras %}

{% block meta-description %}
    <meta name="description" content="{{ concept_data.title}}: {{concept_data.summary|shorten_to_sentence}}">
{% endblock %}

{% block targetblank %}
<base target="_blank">
{% endblock %}

{% block extra-css %}
<link rel="stylesheet" href="{% static "css/lib/kmapcss/graph.css" %}"/>
<link rel="stylesheet" href="{% static "css/lib/kmapcss/list.css" %}"/>
<link rel="stylesheet" href="{% static "css/apptools.css" %}" />
<link rel="stylesheet" href="{% static "css/explore-learn.css" %}"/>
<link rel="stylesheet" href="{% static "css/concept-list.css" %}"/>
<link rel="stylesheet" href="{% static "css/concept-details.css" %}"/>
<link rel="stylesheet" href="{% static "css/explore-graph.css" %}"/>
<link rel="stylesheet" href="{% static "css/lib/ionicons.css" %}"/>
{% endblock %}

{% block main %}

<div id="nojs-content">
  {{ nojs_content | safe}}
</div>

{% include "agfk-structure-loader.html" %}

    <script>
      var el = document.getElementById("nojs-content");
      el.parentElement.removeChild(el);
    </script>
{% endblock %}

  {% block jscript %}
    <script>
      window.agfkGlobals = {};
      agfkGlobals.userInitData = {{ user_data|safe }};
      agfkGlobals.targetId = "{{ leaf.id | safe}}";
      agfkGlobals.auxModel = null; // init in main js app
      agfkGlobals.globalResources = {};
      agfkGlobals.graphInitData = {{ graph_init_data|safe }}
    </script>
  {% if debug %}
  <script data-main="{% static "javascript/main.js" %}" type="text/javascript" src="{% static "javascript/lib/require-min.js" %}"></script>
  {% else %}
  <script  src="{% static "javascript/lib/require-min.js" %}"></script>
  <script src="{% static "javascript/main-built.js" %}"></script>
  {% endif %}
  {% endblock %}
