{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    {% block meta %}
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {% endblock %}

    {% block targetblank %}
    <base target="_blank">
    {% endblock %}

    {% block css %}
    <link rel="stylesheet" href="{% static "css/reset.css" %}"/>
    <link rel="stylesheet" href="{% static "css/standard.css" %}"/>
    {% endblock %}

    {% block extra-css %}
    {% endblock %}

    {% block hackscript %}
    <script type="text/javascript">
      // current hack for multiple development environments will change for server
      window.CONTENT_SERVER = "{{ content_server }}";
      window.STATIC_PATH = "{% static "" %}";
      window.GRAPH_CONCEPT_PATH = "{% url 'graphs:concepts' %}";
      window.PRODUCTION = window.location.href.match('metacademy') !== null;
    </script>
    {% endblock %}

    {% block iedetect %}
    
    <script type="text/javascript">
      if(!document.createElement('canvas').getContext){ 
        alert("Sorry, Metacademy does not work for your browser" +
        " (IE < 10 or early mobile browsers). Have you considered Firefox/Chrome/Opera instead?");
      }
   </script>
    {% endblock %}
    <title> {% block title %}Metacademy{% endblock %}</title>

    {% endblock %}
  </head>

  <body>
    {% block noscript %}
    <noscript>
      <div class="noscript-alert">
        <p>
          It looks like you have javascript disabled.
        </p>
        <p>
          You must have javascript enabled on a modern browser in order to use metacademy.org
        </p>
      </div>
    </noscript>
    {% endblock %}
    
    {% block body %}

    <div class="header-bar">
	{% block header %}
        
        {% block pre-standard-header-content %}
        {% endblock %}

        {% block standard-header-content %}
        <ul id="header-user-tools" class="header-el">
          {% if user.is_authenticated %}
          <li>
            <a href="{% url 'user:user_main' %}">{{ user.username }}</a>
          &#124;
	    <a href="{% url 'user:logout' %}">Sign out</a>
          </li>
	  {% else %}
          <li>
	    <a href="{% url 'user:login' %}">Sign in</a>
          &#124;
	    <a href="{% url 'user:register' %}">Sign up</a>
          </li>
	  {% endif %}
          {% endblock %}
          
	  {% endblock %}
        </ul>
    </div>

    <div id="main">
      {% block main %}

      {% endblock %}
    </div>

    {% block jscript %}
    {% endblock %}

    {% endblock %}

    <script type="text/javascript">
      // piwik server-side tracking
      if (window.PRODUCTION){
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
      var u=(("https:" == document.location.protocol) ? "https" : "http") + "://metacademy.org/analytics/piwik//";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', 1]);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
      g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
      }
    </script>
  </body>
</html>          





