{% load staticfiles %}
{% load compress %}
{% load i18n lazysignup_tags %}
<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    {% block meta %}
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {% endblock %}

    {% block favicon %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static "images/favicon.ico"%}">
    {% endblock %}
    
    {% block targetblank %}

    {% endblock %}

    {% compress css %}

    {% block css %}
      <link rel="stylesheet" href="{% static "css/reset.css" %}"/>
      <link rel="stylesheet" href="{% static "css/standard.css" %}"/>
      {% endblock %}

      {% block extra-css %}
      {% endblock %}

    {% endcompress %}

    {% block hackscript %}
    <script type="text/javascript">
      // current hack for multiple development environments will change for server
      window.CONTENT_SERVER = "{{ content_server }}";
      window.STATIC_PATH = "{% static "" %}";
      window.GRAPH_CONCEPT_PATH = "{% url 'graphs:concepts' %}";
      window.PRODUCTION = window.location.href.match('metacademy') !== null;
      window.CSRF_TOKEN = "{{ csrf_token }}";
    </script>
    {% endblock %}

    {% block iedetect %}
    
    <script type="text/javascript">
      if(!document.createElement('canvas').getContext){ 
      alert("Sorry, Metacademy does not work for your browser" +
      " (IE < 10 or early mobile browsers). Have you considered Firefox/Chrome/Opera instead?");
                                                                                              }
                                                                                              </script>
    {% endblock %}
    <title> {% block title %}Metacademy{% endblock %}</title>

    {% endblock %}
  </head>

  <body>
    {% block noscript %}
    <noscript>
      <div class="noscript-alert">
        <p>
          It looks like you have javascript disabled.
        </p>
        <p>
          You must have javascript enabled on a modern browser in order to use metacademy.org
        </p>
      </div>
    </noscript>
    {% endblock %}
    
    {% block body %}

    <div id="header" class="header-bar">
      {% block header %}

      {% block pre-standard-header-content %}
      {% block header-search %}
      {% include "header-search-logo.html" %}
      {% endblock %}
      <ul class="header-el">
        <li>
          <a href="/list" target="_self">Concept list</a>
        </li>
        <li>
          <a href="/contribute" target="_self">Contribute</a>
        </li>
        <li>
          <a href="/about" target="_self">About</a>
        </li>
      </ul>
      {% endblock %}
      

      {% block standard-header-content %}
      <ul id="header-user-tools" class="header-el">
        {% if user.is_authenticated and not user|is_lazy_user %}
        <li>
          <a target="_self" href="{% url 'user:user_main' %}">{{ user.username }}</a>
          &#124;
	  <a target="_self" href="{% url 'user:logout' %}">Sign out</a>
        </li>
	{% else %}
        <li>
	  <a target="_self" href="{% url 'user:login' %}">Sign in</a>
          &#124;
	  <a target="_self" href="{% url 'user:register' %}">Sign up</a>
        </li>
	{% endif %}
        {% endblock %}
        
	{% endblock %}
      </ul>
    </div>

    <div id="main">
      {% block main %}

      {% endblock %}
    </div>

    {% compress js %}
    {% block jscript %}
    {% endblock %}
    {% endcompress %}

    {% endblock %}

    <script>
      // piwik server-side tracking
      if (window.PRODUCTION){
      var _paq = _paq || [];
      _paq.push(['trackPageView', window.location.href.split('/').pop()]);
      (function() {
      var u=(("https:" == document.location.protocol) ? "https" : "http") + "://metacademy.org/analytics/piwik//";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', 1]);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
      g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
      }
    </script>
  </body>
</html>          





