{% extends "base.html" %}
{% load staticfiles %}

{% block extra-css %}
<link rel="stylesheet" href="{% static "css/user-form.css" %}" />
{% endblock %}


{% block main %}

{% block pre-form-text %}

{% endblock %}

<div class="form-wrapper">
<form method="post" action={% block form-action %}""{% endblock %}>
{% csrf_token %}

<h3> {% block headtitle %} Metacademy Login {% endblock %}</h3>


{% if form.non_field_errors %}
  <div class="non-field-form-errors">
        {% for error in form.non_field_errors %}
            {{ error }}
        {% endfor %}
  </div>
  {% endif %}

{% block form-content %}

{% endblock %}

{% block submit-button %}
<div class="submit-field">
  <input type="submit" value={% block button-text %}"submit"{% endblock %} onclick="this.disabled = true;this.form.submit();"/>
</div>
{% endblock %}

</form>
</div>

{% block post-form-text %}
{% endblock %}

{% endblock %}



