{% extends "base.html" %}
{% load staticfiles %}

{% block targetblank %}
{% endblock %}

{% block meta-viewport %}
<meta name="viewport" content="initial-scale=1">
{% endblock %}


{% block title %}
Concepts - Metacademy
{% endblock %}

{% block extra-css %}
<link rel="stylesheet" href="{% static "css/browsing.css" %}"> </rel>
{% endblock %}

{% block jscript-extend %}
<script type="text/javascript" src="{% static "javascript/lib/underscore-min.js" %}"></script>
{% endblock %}

{% block main%}

<div class="browsing-wrapper">
  {% for tag in tags %}
    <h2>{{tag.title}} </h2>
    <div class="browsing-section">

      {% if tag.roadmaps.count %}
        <h3>Roadmaps</h3>
        <ul>
          {% for roadmap in tag.sorted_roadmaps %}
            <li> <a class="internal-link" href="{{ roadmap.roadmapsettings.get_absolute_url }}"> {{ roadmap.title }} </a> </li>
          {% endfor %}
        </ul>
      {% endif %}

      {% if tag.concepts.count %}
        <h3>Concepts</h3>
        <div class="browsing-concept-list">
          <ul>
            {% for concept in tag.sorted_concepts %}
              <li> <a class="internal-link" href="{% url 'graphs:concepts' concept.tag %}"> {{concept.title}} </a> </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

    </div>
  {% endfor %}

  <h2> Uncategorized </h2>
  <div class="browsing-section">
    {% if uncat_roadmaps %}
      <h3>Roadmaps</h3>
      <ul>
        {% for roadmap in uncat_roadmaps %}
          <li> <a class="internal-link" href="{{ roadmap.roadmapsettings.get_absolute_url }}"> {{ roadmap.title }} </a> </li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if uncat_concepts %}
      <h3>Concepts</h3>
      <div class="browsing-concept-list">
        <ul>
          {% for concept in uncat_concepts %}
            <li> <a class="internal-link" href="{% url 'graphs:concepts' concept.tag %}"> {{concept.title}} </a> </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>

</div>



{% endblock %}
