{% load std_extras %}


<!-- DEPRECATED FILE -->


<section class="node-detail-view" style="width:100%;">
  <h1>
    {{ leaf.title }}
  </h1>

  <h2 class="node-detail-title">Summary</h2>
  <div class="node-detail-comp-wrap node-detail-summary-text">
    {% if leaf.summary %}
    {{ leaf.summary }}
    {% else %}
    <span class="no-content-msg">-No Summary-</span>
    {% endif %}
  </div>

  <h2 class="node-detail-title">Context</h2>
  <div class="node-detail-comp-wrap">
    {% if leaf.dep_target.all  %}
    <p>This concept has the prerequisites:</p>
    <ul class="node-detail-comp-wrap dep-wrap">
      {% for preq in leaf.dep_target.all %}
      <li>
        <a href="/graphs/concepts/{{ preq.source.tag }}" class="focus-link dependency-link" target="_self">
          {{preq.source.title}}
        </a>
        {% if preq.reason %}
        <span class="dependency-reason">({{preq.reason}})</span>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p class="no-content-msg">-this concept has no prerequisites-</p>
    {% endif %}
  </div>

  {% if leaf.goals.all %}
  <h2 class="node-detail-title">Goals</h2>
  <div class="node-detail-comp-wrap goals-wrap" >
    {% for goal in leaf.goals.all %}
    {{goal.text}}
    {% endfor %}}
  </div>
  {% endif %}

  {% if leaf.resources %}
  <h2 class="node-detail-title">
    Resources
  </h2>

  <div class="node-detail-comp-wrap">
    {% for rsrc in leaf.resources %}

    <div class="resource-view">

      <div class="resource-title-display">
        <span class="res-arrow">→ </span>{{rsrc.global_resource.title}}
      </div>

      <div class="resource-content-wrap">
        {% if rsrc.location %}
        <div class="resource-location-display">
          {% if rsrc.edition %}
          <span class="resource-location"> Location (edition {{rsrc.edition}}): </span>
          {% else %}
          <span class="resource-location"> Location: </span>
          {% endif %}

          <ul>
            {% for loc in rsrc.location %}
            {% if loc.link %}
            <li>
              <span class="resource-location-item">
	        <a class="external-link" href="{{ loc.link }}"> {{ loc.text }} </a>
              </span>
            </li>
            {% else %}
            <li><span class="resource-location-item"> {{ loc.text }} </span>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
        {% endif %}

        {% if rsrc.url %}
        <div class="resource-url-display">
          <span class="resource-link"><a class="external-link" href="{{ rsrc.url }}">[external website]</a> </span>
        </div>
        {% endif %}

        {% if rsrc.authors %}
        <div class="resource-author-display">
          <span class="resource-author"> Authors: {{ rsrc.authors|join_list|safe }} </span>
        </div>
        {% endif %}

        {% if rsrc.level %}
        <div class="resource-level-display">
          <span class="resource-level"> Level: {{ rsrc.level }} </span>
        </div>
        {% endif %}

      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}


  <h2 class="node-detail-title">See also</h2>
  <div class="node-detail-comp-wrap pointers-wrap">
    {% if concept_data.pointers %}
    {{ concept_data.pointers|parse_txt_url_obj|safe}}
    {% else %}
    <span class="no-content-msg">-No Additional Notes-</span>
    {% endif %}
  </div>

</section>
