{% extends "base.html" %}
{% load staticfiles %}

{% block targetblank %}
{% endblock %}

{% block title %}
Concepts - Metacademy
{% endblock %}

{% block extra-css %}
<link rel="stylesheet" href="{% static "css/list.css" %}"> </rel>
{% endblock %}

{% block jscript-extend %}
<script type="text/javascript" src="{% static "javascript/lib/underscore-min.js" %}"></script>
<script type="text/javascript" src="{% static "javascript/show-concepts-list.js" %}"></script>
{% endblock %}

{% block main%}

<div class="list-concepts-wrapper">
  
</div>

{% include "concept-list-item.html" %}

{% endblock %}
