{% extends "base.html" %}
{% load staticfiles %}

{% block extra-css %}
<link rel="stylesheet" href="{% static "css/about.css" %}"/>
{% endblock %}

{% block main %}
<section class="about-meta">
  <header>
    <h1>Contributing to Metacademy</h1>
  </header>
  <p>
    Metacademy is young, and our online system for content submission is not quite ready. Right now, the best way to contribute is to send feedback to <a href="mailto:feedback@metacademy.org">feedback@metacademy.org</a>, e.g.
  </p>
  <ul>
    <li>
    Do you find Metacademy's interface intuitive?
    </li>
    <li>
      Have you learned any concepts using Metacademy? If so, how was the experience?
    </li>
    <li>
      Is there a specific feature you would like Metacademy to implement?
    </li>
    <li>
      Did you find a bug or notice strange behavior when using Metacademy?
    </li>
  </ul>

  <p>
    We want to make Metacademy as useful as possible, so we promise to (1) sincerely consider your feedback and (2) send you a follow-up response. -Colorado Reed & Roger Grosse
  </p>
</section>
{% endblock %}
