{% extends "base.html" %}
{% load staticfiles %}

{% block extra-css %}
    <link rel="stylesheet" href="{% static "css/landing.css" %}"/>
{% endblock %}

{% block header-search %}
{% endblock %}

{% block jscript-extend %}
<script type="text/javascript" src="{% static "javascript/landing.js" %}"></script>
{% endblock %}

{% block main %}

<div class="main-search-wrap">
  <img id="main-search-logo" class="mlogo" src="{% static "images/banner2-meta.png" %}" alt="Metacademy Logo" />
  <div class="db-search-wrap">
    <input type="text" class="searchbox" id="main-search-input" placeholder="Search for concept you want to learn, e.g. logistic regression" value="{% block search-text %}{% endblock %}" autocapitalize="off" tabindex="1">
  </div>
</div>

  <div class="dev-note">
<p>
    Metacademy helps you find resources to improve the skills you care about.
</p>
<p class="dev-update">
  Check out the new roadmap: <a href="/roadmaps/cjrd/level-up-your-ml" class="internal-link">Level-Up Your Machine Learning</a>
</p>
  </div>


</div>

{% endblock %}
