{% extends "base.html" %}
{% load staticfiles %}

{% block extra-css %}
    <link rel="stylesheet" href="{% static "css/landing.css" %}"/>
{% endblock %}

{% block header-search %}    
{% endblock %}
    
{% block main %}

{% if not user.is_authenticated %}
  <div class="login-note">
    <p>
      Sign up to keep track of what you've already learned!
    </p>
  </div>
{% endif %}


<div class="main-search-wrap">
  <img id="main-search-logo" class="mlogo" src="{% static "images/banner2-meta.png" %}" />
  <input type="text" class="searchbox" id="main-search-input" placeholder="Search for a concept you'd like to learn about, e.g. gaussian process" value="{% block search-text %}{% endblock %}" autocapitalize="off" tabindex="1">

  <div class="dev-note">
<p>
    Currently, our content focuses on machine learning and probabilistic AI.
</p>
<p>
  Also, this site is under active development and will frequently change.
</p>
  </div>
  

</div>
{% endblock %}


{% block jscript %}
{% include "load-jquery-snippet.html" %}
<script type="text/javascript" src="{% static "javascript/gen-utils.js" %}"></script>
<script type="text/javascript" src="{% static "javascript/landing.js" %}"></script>
{% endblock %}
