#main {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 910px;
    border: 4px solid black;
    overflow: hidden;
}

.column {
    position: relative;
    float: left;
}

#leftpanel {
    width: 750px;
    height: 500px; /*the height of the main area */
    overflow: hidden;
    text-align: left;
}

#rightpanel {
    padding-top: 5px;
    padding-left: 5px;
    width: 150px;
    height: 500px; /*the height of the main area */
    overflow: auto;
    border-left: 4px black solid;
}

#bottompanel {
    width: 100%;
    /*height: 130px;*/
    padding-top: 10px;
    padding-bottom:10px;
    border-top: 4px black solid;
}

#bottomtitle {
    font-weight: bold;
    text-align: center;
    padding: 0px 5px 0 5px;
}

#bottomtext {
    text-align: justify;
    padding: 5px 5px 0 5px;
}

/* LEGEND */
#legend {
    font-family: Arial;
    font-size: 8pt;
    margin-top: -10px;
}

.leg_entry {
    width: 100%;
    overflow: auto;
    margin-top: 13px;
}

.leg_node {
    float: left;
    width: 23.5%;
    margin-left:1%;
}

.leg_text {
    float: left;
    padding-top: 3px;
    width: 75%;
}


path {
    stroke: #15317E;
    stroke-width: 2;
    stroke-opacity: 0.6;
    fill: none;
}

circle {
    fill: #15317E;
    fill-opacity: 1.0;
}

line {
    stroke: black;
}

text {
    font-family: Arial;
    font-size: 9pt;
}

circle.node {
    stroke: #222222;
    stroke-width: 1.2px;
}

line.link {
    stroke: #999999;
    stroke-opacity: 0.6;
}

button {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #222222;
    background-image: -moz-linear-gradient(center top, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.11));
    border-color: -moz-use-text-color -moz-use-text-color #222222;
    border-radius: 0 0 0 0;
    border-style: none none solid;
    border-width: 0 0 1px;
    box-shadow: 0 1px 3px #999999;
    color: #FFFFFF;
    font: 14px Helvetica Neue;
    margin: 0px;
    padding: 6px 10px;
    text-rendering: optimizelegibility;
    text-shadow: 0 -1px 1px #222222;
    margin-right: -9px;
    margin-top: 5px;
    margin-left: 5px;
}

button.first {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

button.last {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

button.active {
    background-color: #416685;
}

button:hover {
    background-color: steelblue;
}
