.tooltipsy
{
    padding: 10px;
    max-width: 200px;
    color: #303030;
    background-color: #F5EEEE;
    border: 2px solid #885415;
}

ul {
    text-align: left;
    margin-left: 2px;
    padding-left: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    list-style-type: disc;
}

div.extra-info{
    float:right;
}
span.help-ptr{
   background: url("/images/qmark.jpg") no-repeat center right;
   width:20px;
   height: 15px;
   display: inline-block;
    float:right;
}

.data-title{
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    padding: 5px 0px 10px 0px;
}

.data-subtitle{
    text-align:left;
    margin-top:10px;
    font-weight: bold;
    font-size: 16px;
}

.data-description{
    font-style: italic;
}


#main {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 910px;
    border: 4px solid black;
    overflow: hidden;
}
    
#data-select{
 text-align:center;
 float:left;
}                    

.column {
    position: relative;
    float: left;
}


#leftpanel {
    width: 700px;
    height: 600px; /*the height of the main area */
    overflow: hidden;
    text-align: left;
}

#rightpanel {
    padding-top: 5px;
    padding-left: 5px;
    width: 200px;
    height: 600px; /*the height of the main area */
    overflow: auto;
    border-left: 4px black solid;
}

#bottompanel {
    width: 100%;
    /*height: 130px;*/
    padding-top: 10px;
    padding-bottom:10px;
    border-top: 4px black solid;
} 

#bottomtitle {
    font-weight: bold;
    text-align: center;
    padding: 0px 5px 0 5px;
}

#bottomtext {
    text-align: justify;
    padding: 5px 5px 0 5px;
}


/* LEGEND */
#legend {
    font-family: Arial;
    font-size: 8pt;
    margin-top: -10px;
}

.leg_entry {
    width: 100%;
    overflow: auto;
    margin-top: 13px;
}

.leg_node {
    float: left;
    width: 23.5%;
    margin-left:1%;
}

.leg_text {
    float: left;
    padding-top: 3px;
    width: 75%;
}


path {
    stroke: #15317E;
    stroke-width: 2;
    stroke-opacity: 0.6;
    fill: none;
}

circle {
    fill: #15317E;
    fill-opacity: 1.0;
}

line {
    stroke: black;
}

.node {
    cursor: default;
}

line.link {
    stroke: #999999;
    stroke-opacity: 0.6;
}


