/* CSS for search results */

.search-info{
    line-height: 1.1em;
    font-size: 1.1em;
    padding-bottom: 1.2em;
    margin-bottom: 1em;
    margin-top: 1.2em;
    margin-left: 10%;
    margin-right: 10%;
    border-bottom: 1px solid #eaeaea
}
.search-res-wrapper{
    overflow: scroll;
    height: 100%;
    width: 100%;
    background: white;
    position: absolute;
}    

.search-res{
    margin-left: 10%;
    margin-right: 10%;
}
.search-res-list{
    line-height: 1.1em;
}

.search-res-li{
    padding-bottom: 0.8em;
    margin-bottom: 1em;
    border-bottom: 1px solid #eaeaea
}

.search-res-title{
    font-size: 1.2em;
    font-weight: bold;
}

.search-res-description{
    line-height: 1.1em;
    margin-top: 0.4em;
    font-size: 0.9em;
}