p{
    margin-top: 1px;
    margin-bottom: 1px;
}

#header {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 950px;
}

#header hr {
    width: 950px;
    border-color: #000;
    color: #000;
    background-color: #000;
    margin-bottom: 1em;
}

body {
    margin: 0px;
    padding: 0px;
    font: 16px Calibri, "Gill Sans", "Trebuchet MS", sans-serif;
}

#main{
    width:80%;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #000;
    text-decoration: none;
}

a:active {
    color: #0050FF;
}

h1 {
    margin-top: 1em;
}

h2 {
    line-height: 0em;
    font-size: 25px;
    font-style: italic;
    margin-bottom: 30px;
}




.container {
    margin: 20px 0px 20px 0px;
}

.container_title {
    margin: 0;
    padding: 3px 5px 3px 3px;
    background-color: #E6EEEE;
    font-weight: bold;
    border: 2px solid #CDCDCD;
    text-align: center;
}

div.container_title a {
    font-size: 15px;
    color: black;
}

.container_title {
    background-color: #E6EEEE;
    border: 2px solid #CDCDCD;
    font-weight: bold;
    margin: 0;
    padding: 3px 5px 3px 3px;
    text-align: center;
}


/*tabbed navigation lists*/
.tabs {
    font-size: 10pt;
    border: 2px solid #CDCDCD;
}

ul.tab_nav {
    list-style: none;
    margin: 0;
    padding: 3px 5px 3px 3px;
    background-color: #E6EEEE;
    font-weight: bold;
}

ul.tab_nav li {
    display: inline;
    border: 1px;
}

ul.tab_nav li a {
    padding: 3px 5px;
    color: #000;
    text-decoration: none;
}

ul.tab_nav li a.selected, ul.tab_nav li a:hover {
    background-color: #F5EEEE;
    color: #000;
}

ul.tab_nav li a:focus {
    outline: 0;
}

div.tabs div {
    padding: 12px 5px 5px;
    background-color: #F5EEEE;
    font-size: 11pt;
}

/* Div Tables And table-like displays*/
div.dtable {
    display: table;
    margin: auto;
}

div.drow {
    display: table-row;
}

div.dcell {
    display: table-cell;
}

div.cell-descript {
    text-align: center;
    font-weight: bold;
    padding-top: 5px;
}

ul.cell-list{
    border: 2px solid;
}

li.cell-title {
    font-weight: bold;
    padding: 10px 5px;
}

li.cell-elem {
    padding: 5px 5px;
}

/*navigation bar*/

#navigation {
    margin: 0;
    padding: 0;
    clear: both;
    height: 25px;
    background: #9C9C9C;
    border-bottom: outset 1px #333232;
}

ul.nav-main, ul.nav-main li {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.nav-main {
    position: relative;
}

ul.nav-main li:hover > ul {
    visibility: visible;
}

ul.nav-main li.hover, ul.nav-main li:hover {
    position: relative;
    cursor: pointer;
}

ul.nav-main li {
    float: left;
    display: block;
}

ul.nav-main li a {
    display: block;
    padding: 4px 10px 0 10px;
    height: 22px;
}

ul.nav-main li:hover {
    background: #D1D1D1;
}

ul.nav-sub {
    visibility: hidden;
    position: absolute;
    padding: 10px;
    top: 25px;
    left: -1px;
    z-index: 598;
    background: #D1D1D1;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
}

ul.nav-sub li {
    list-style: none;
    display: block;
    padding: 0;
    height: 27px;
    float: none;
    width: 145px;
    border-bottom: 1px solid #5a5a5a;
    background: none;
}

ul.nav-sub li:hover {
    background-color: #BABABA;
}

ul.nav-sub li a {
    list-style: none;
    display: block;
    padding: 6px 5px 6px 5px;
    height: 15px;
    float: none;
    width: 145px;
    background: none;
    font: 12px Arial, Helvetica, sans-serif;
}


