/* -----------------------------------*/
/* ---------->>> GLOBAL <<<-----------*/
/* -----------------------------------*/

body {
    margin: 0;
    padding: 0;
    border: 0; /* removes the border around the viewport in old versions of IE */
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    font-size: 1.0em;
    overflow: hidden;
}

h1 {
    margin-top: 1em;
}

h2 {
    line-height: 0;
    font-size: 1.3em;
    font-style: italic;
    margin-bottom: 1em;
}

p {
    margin: 0.1em 0;
}

/* ---------------------------------------------------*/
/* ---------->>> General Functional Styles<<<---------*/
/* ---------------------------------------------------*/
#searchbox{
    width: 12em;
    margin-left: 1em;
    border-radius: 5px;
    position: absolute; /* parent must be relative ? */
    bottom: 0.2em;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
    -ms-box-sizing: border-box; /* IE */
    box-sizing: border-box;
}

.external-link{
    font-size: 1em;
    color:#2B7536;
    text-decoration: none;
}
.external-link:hover{
    color:#14330E;
    text-decoration: underline;
}

.internal-link{
    color: #5C1F63;
    text-decoration: none;
}
.internal-link:hover{
    text-decoration: underline;
    color: #241494;
}

a.expand-collapse-link{
    font-size: 0.8em;
    color:#190797;
}
a.expand-collapse-link:hover{
    color: #190797;
}
/* ---------------------------------------------------*/
/* ---------->>> Layout Styles <<<--------------------*/
/* ---------------------------------------------------*/
#header {
    height: 1.5em;
    width: 100%;
    background: #333;
    overflow: hidden;
    border-bottom: 0.1em #333 solid;
    font-size: 1.1em;
    position: relative;
    z-index: 1000;
}

#main {
    clear: both;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgb(255, 238, 238);
}

#explore-learn-button-wrapper{
    position: absolute;
    top: 2em;
    right: 0;
    display: inline-block;
    z-index: 1;
    margin-top: 0.2em;
    margin-right: 1em;
}


/* --------------------------------------------------------*/
/* ---------->>> Specific HTML Element Styles<<<-----------*/
/* --------------------------------------------------------*/
/* Explore-Learn Navigation Button */
.el-nav-button{
    display: inline;
    float: left;
    border: solid;
    border-color: transparent;
    background-color: #333333;
    color: white;
    padding: 2px;
    margin: 0;
    font-size: 0.8em;
    cursor: default;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
    -ms-box-sizing: border-box; /* IE */
    box-sizing: border-box;
}
.el-nav-button.active{
    background-color: #416685;
}
.el-nav-button:hover{
    background-color: steelblue;
}
.el-nav-button.button-left{
    border-width: 3px 1px 3px 3px;
    border-radius: 0.3em 0 0 0.3em;
    padding-right: 3px;
    margin-right: 0;
}
.el-nav-button.button-right{
    border-width: 3px 3px 3px 1px;
    border-radius: 0 0.3em 0.3em 0;
    padding-left: 3px;
    margin-left: 0;
}

/* ---------------------------------------------------*/
/* ---------->>> Learn Mode Styles <<<----------------*/
/* ---------------------------------------------------*/

#learn-view-wrapper{
    display: none;
    height: 100%;
    width: 100%;
    overflow: auto;
    background: white;
}

.learn-title-display{
    text-align: center;
}
.learn-title-display{
    display: block;
    cursor: pointer;
    text-decoration: none;
    color: #3E4018;
    padding: 1em 0;
    padding-left: 1ex;
    line-height: 1.5em;
    font-size: 1.1em;
    border-bottom: 0.3ex solid #CCCCCC;
}
.learn-title-display:hover, .learn-title-display.clicked-title:hover {
    background-color: #f8f5f0;
    font-weight: bold;
}
.learn-title-display.clicked-title{
    /*background-color: rgb(255, 255, 249);*/
    font-weight: bold;
    color: #333333;
    border-bottom: 1px dotted #CCCCCC;
}
.learn-title-display.clicked-title a:after{
    content: "";
    border: solid;
    border-color: #333333 transparent;
    border-width: 10px 5px 0 5px;
    position: relative;
    top: 0.1ex;
    left: 0.5ex;
    display: inline-block;
    -moz-transform: scale(.9999);
}

.node-detail-view{
   background-color: white;
   color: #23240D;
    border-bottom:  0.3ex solid #CCCCCC;
    padding: 0.3em 1.5em 1em 1.5em;
}

.node-detail-title{
    color: #333333;
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
    padding: 1em 0 .7em 0;
    margin: 1em 0 0 0;
}

.learned-concept-title, .implicit-learned-concept-title{
    opacity: 0.5;
}

.learn-view-check{
    visibility: hidden;
    display: inline-block;
    margin-right: 0.5ex;
    color: #8e8888;
    font-size: 1.3em;
}

.learned-concept-title > .learn-view-check, .learn-view-check:hover{
   visibility: visible;
    color: green;
}

.learn-title-display:hover > .learn-view-check{
    visibility: visible;
}

.node-detail-comp-wrap{
    margin: 0 0 0.7em 1em;
}
.resource-view{
    color: #252313;
    padding: 0.5em 0;
    line-height: 1.1em;
    width: 80%;
    display: inline-block;
    overflow: auto;
    max-height: 10em;
}

.resource-title a{
    color: #223804;
}

.more-resource-info{ 
    display: inline-block;
    cursor: pointer;
}

.resource-location, .resource-edition, .extra-resource-details{
    font-size: 0.9em
}

.dependency-view, .outlink-view{
    line-height: 1.2em;
    margin: 0.5em 0;
}

.dependency-reason{
    color: #333;
}

.no-content-msg{
    margin: 0.2em 0;
    display: inline-block;
    font-size: 0.8em;
    font-style: italic;
}

.pointers-wrap ul ul{
    margin-left: 1em;
    margin-bottom: 1em;
}

.pointers-wrap li{
    margin: 0.5em 0;
}

.pointers-wrap ul{
    list-style-type: disc;
}


.pointers-wrap ul ul{
    list-style-type: circle;
}
/* --------------------------------------------------------*/
/* ---------->>> Explore View non-SVG Style <<<-----------*/
/* ------------------------------------------------------*/

#explore-view-wrapper{
    display: none;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: white;
}

#explore-view{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.summary-text {
    padding: 0.4em 0.7em;
    color: #3E4018;
    background-color: white;
    border: 4px solid;
    border-color: #493A5C;
    overflow: auto;
    font-size: 1em;
    line-height: 1.4em;
    max-height: 12em;
    min-height: 4em;
    border-radius: 0.7em;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
    -ms-box-sizing: border-box; /* IE */
    box-sizing: border-box;
}

.summary-wrap{
    position: absolute;
}
/* creates the larger triangle that points to the right > */
.summary-wrap.tright:before {
    content: "";
    border: solid;
    border-width: 16px 0 16px 32px;
    border-color: transparent #493A5C; /*#493A5C;*/
    position: absolute;
    top: 20px;
    right: -28px ; /* value = - triangle width + border-right-width */
    display: block;
    width:0;
    -moz-transform: scale(.9999);
}
/* creates the smaller  triangle that points to the right > */
.summary-wrap.tright:after {
    content: "";
    border-style: solid;
    border-width: 12px 0 12px 24px; /* larger triangle - border width */
    border-color: transparent white;
    position: absolute;
    top: 24px; /* position of larger triangle + border width */
    right: -20px; /* value = - small triangle width + border-right-width */
    display: block;
    width: 0;
    -moz-transform: scale(.9999);
}
/* creates the larger triangle that points to the left < */
.summary-wrap.tleft:before {
    content: "";
    border: solid;
    border-width: 16px 32px 16px 0;
    border-color: transparent #493A5C; /*#493A5C;*/
    position: absolute;
    top: 20px;
    left: -28px ; /* value = - triangle width + border-left-width */
    display: block;
    width: 0;
    -moz-transform: scale(.9999);
}
/* creates the smaller  triangle that points to the left <*/
.summary-wrap.tleft:after {
    content: "";
    border-style: solid;
    border-width: 12px 24px 12px 0; /* larger triangle - border width */
    border-color: transparent white;
    position: absolute;
    top: 24px; /* position of larger triangle + border width */
    left: -20px; /* value = - small triangle width + border-left-width */
    display: block;
    width: 0;
    -moz-transform: scale(.9999);
}


/* ---------------------------------------------------*/
/* ---------->>> Explore Graph Svg Style<<<-----------*/
/* ---------------------------------------------------*/

/* set default properties for common svg elements */
line, polygon, path {
    stroke: #333333;
    fill: #333333;
}

/* edge path in digraph */
path {
    stroke-width: 4;
    fill: transparent;
}

/* node ellipse */
ellipse{
    stroke: #333333;
    stroke-width: 3;
    fill: #F6FBFF; /* light shade of alice blue see http://encycolorpedia.com/f6fbff for color scheme */
}
.hovered ellipse{
    fill: #f1f3f9;
}
.clicked ellipse{
    fill: #f1f3f9;
}


.node {
    cursor: default;
}
.node text{
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    stroke-width: 0;
    fill: #333
}

/* expand node cross */
.expand-node{
    fill: #eaf3ec;
    stroke: #333333;
    stroke-width: 3;
}

/* completed checkmark for learned nodes */
.checkmark path{
    fill: transparent;
    stroke: #868686;
    stroke-width: 4;
    visibility: hidden;
}
.checkmark circle{
    fill: transparent;
    stroke: #868686;
    stroke-width: 3;
    visibility: hidden;
}
.checkmark-hovered circle, .node-learned .checkmark circle{
    fill: transparent;
    stroke: #759466;
    stroke-width: 4;
    visibility: visible;
}
.checkmark-hovered path, .node-learned .checkmark path{
    stroke-width: 5;
    stroke: #759466;
    visibility: visible;
}
.hovered  .checkmark path, .clicked .checkmark path, .hovered .checkmark circle, .clicked .checkmark circle{
    visibility: visible;
}
/* properties for learned nodes */
.node-learned{
    opacity: 0.5;
}

.implicit-learned{
    opacity: 0.6;
}