/* header */
#header {
	position: relative;
    height: 25px;
    width: 100%;
    background: #333;
    overflow: hidden;
    border-bottom: 2px black solid;
}

/* body elements */
body {
	margin:0;
	padding:0;
	border:0;			/* removes the border around the viewport in old versions of IE */
	width:100%;
    height:100%;
    overflow: hidden;
    font: 18px Calibri, "Gill Sans", "Trebuchet MS", sans-serif;
}

#main {
    clear:both;
    float:left;
    width: 100%;
    height:100%;
    overflow: hidden;
    position:relative;	/* This fixes the IE7 overflow hidden bug */
    background: rgba(245, 238, 238, 0.44);
}

.colcontainer{
    float:left;
   	width:100%;
   	position:relative;
    right:18%;			/* right column width */
   	background:#fff;		/* left column background colour */
}

.column {
    float:left;
   	position:relative;
   	padding:0 0 1em 0;
   	overflow:hidden;
}

#leftpanel {
    width:82%;			/* left column content width (left column width minus left and right padding) */
   	left:18%;			/* (right column width) plus (left column left padding) */
    border-right: 2px black solid;
}

#rightpanel {
	width:16%;			/* right column content width (right column width minus left and right padding) */
	left:19%;			/* (right column width) plus (left column left and right padding) plus (right column left padding) */
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

/* special styles */
span.morecontent {
    display: none;
}
a.morelink{
    color: #0000ff;
}

.dtable{
    display:table;
    width:100%;
    text-align:right
}

.dvcenter{
    display:table-cell;
    vertical-align:middle;
    height: 100%;
}


.tooltipsy {
    padding: 10px;
    max-width: 200px;
    color: #303030;
    background-color: #f6fefe;
    border: 2px solid #000000;
}

button.topic-focus {
    margin-top: 15px;
    line-height: 20px;
    font-weight: bold;
}

div.topic-focus{
    text-align: center;
}

div.list-entry {
    overflow: hidden;
    width: 100%;
    margin-left: 8px;
}


div.list-text {
    float: right;
    width:90%;
    height: 100%;
    right: 0;
}

div.help-ptr{
    float: left;
    height: 100%;
    width: 10%;
}

img.list-img {
    margin-right: 5px;
    vertical-align: middle;
}

.data-title {
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    padding: 5px 0px 10px 0px;
}

.data-subtitle {
    text-align: left;
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
}


.data-description {
    /*font-style: italic;*/
}


/* general styles */

p{
    margin-top: 1px;
    margin-bottom: 1px;
}

a {
    color: #000;
    text-decoration: none;
}

a:active {
    color: #0050FF;
}

h1 {
    margin-top: 1em;
}

h2 {
    line-height: 0em;
    font-size: 25px;
    font-style: italic;
    margin-bottom: 30px;
}

/*Graph Properties*/
path {
    stroke: #15317E;
    stroke-width: 2;
    stroke-opacity: 0.6;
    fill: none;
}

circle {
    fill: #15317E;
    fill-opacity: 1.0;
}

line {
    stroke: black;
}

.node {
    cursor: default;
}

line.link {
    stroke: #999999;
    stroke-opacity: 0.6;
}