/* header */
#header {
    position: relative;
    height: 1.5em;
    width: 100%;
    background: #333;
    overflow: hidden;
    border-bottom: 0.1em black solid;
    font-size: 1.1em;
}

/* body elements */
body {
    margin: 0;
    padding: 0;
    border: 0; /* removes the border around the viewport in old versions of IE */
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Droid Sans, Arial, sans-serif;
    font-size: 1.0em;
}

#main {
    clear: both;
    float: left;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative; /* This fixes the IE7 overflow hidden bug */
    background: rgba(255, 238, 238, 0.54);
}

.colcontainer {
    float: left;
    width: 100%;
    position: relative;
    right: 20%; /* right column width */
    background: #fff; /* left column background colour */
}

.column {
    float: left;
    overflow: auto;
}

#leftpanel {
    position: relative;
    width: 80%; /* left column content width (left column width minus left and right padding) */
    left: 20%; /* (right column width) plus (left column left padding) */
    border-right: 0.2ex black solid;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
    -ms-box-sizing: border-box; /* IE */

}

#rightpanel {
    position: relative;
    width: 20%; /* right column content width (right column width minus left and right padding) */
    left: 20%; /* (right column width) plus (left column left and right padding) plus (right column left padding) */
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

/* special styles */
div.edit-node {
    margin: 0.2em;
    margin-bottom: 0.1em;
}

section.cnode-dep{
    margin-top: 0.15em 0;
}
.cnode-data-input {
    font-size: 1.0em;
    margin: 0.8ex 3% 1.8ex 3%;
}

.cnode-data-input label,header {
    display: block;
    color: rgb(151, 57, 57);
    font-weight: bold;
}
.cnode-box {
    display: inline-block;
    width:17em;
    margin: 0.75%;
    padding: 1% 1.5%;
    border: 0.15em solid;
    border-radius: 1.2em;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
    -ms-box-sizing: border-box; /* IE */
}
.cnode-box label{
    display: inline;
    color: black;
    font-weight: bold;
    font-size: 1.0em
}

.cnode-data-input input, textarea {
    border: 0.1em solid rgba(0, 0, 0, 0.34);
    border-radius: 0.5ex;
    width: 100%;
    line-height: 1.2em;
    margin-bottom: 1ex;
    font-family: Droid Sans, Arial, sans-serif;
    font-size: 1.0em;
    color: #333333;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
    -ms-box-sizing: border-box; /* IE */
}


section.dependencies{
    background-color: #eeffee;
    border-color: rgb(43, 83, 43)
}

section.related-concepts{
    background-color: #eeffee;
    border-color: rgb(43, 83, 43)
}

section.resources{
    background-color: #ddeeff;
    border-color: rgb(60, 108, 134);
}

/*hack to match style with cnode-box*/
.lone-section{
    margin: 0.75%;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
    -ms-box-sizing: border-box; /* IE */
}

textarea.cnode-reason-input{
    height: 5.5em;
}
ul.nodelist {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.nodelist li {
}

ul.nodelist li a {
    display: block;
    text-decoration: none;
    color: #000000;
    padding: 1em 0;
    padding-left: 1ex;
    border-bottom: 0.2ex solid #CCCCCC;
    cursor: pointer;
}

ul.nodelist li a:hover {
    color: rgb(190, 49, 49);
    background-color: rgba(247, 214, 214, 0.42);
}

ul.nodelist li a strong {
    margin-right: 1ex;
}

.gold-text {
    color: rgb(182, 149, 20);
}

.cost-dollar {
    color: #008000;
    font-family: Times, "Gill Sans", Helvetica, sans-serif;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.left {
    float: left;
}

.bold {
    font-weight: bold;
}

.info-loc {
    font-family: Helvetica;
    font-size: small;
}

span.morecontent {
    display: none;
}

.dtable {
    display: table;
    width: 100%;
    text-align: right
}

.dvcenter {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

.tooltipsy {
    padding: 1em;
    max-width: 15em;
    color: #303030;
    background-color: #f6fefe;
    border: 0.15ex solid #000000;
}

button.topic-focus {
    margin-top: 1.5ex;
    line-height: 1.3em;
    font-weight: bold;
}

div.topic-focus {
    text-align: center;
    margin-bottom: 3em;
}

div.resource-entry {
    margin-bottom: 1ex;
}

div.res-extras {
    display: none;
    margin-top: 0.1em;
}

div.res-extra-ent {
    font-family: Helvetica;
    font-size: 0.9em;
    font-style: italic;
    margin-bottom: 0.1em;
}

div.list-entry {
    overflow: hidden;
    width: 100%;
}

div.list-text {
    margin-bottom: 0.25em;
    float: right;
    width: 90%;
    height: 100%;
    right: 0;
}

div.bullet-ptr {
    float: left;
    height: 100%;
    width: 10%;
    min-width: 0.9em;
    text-align: center;
}

img.list-img {
    vertical-align: middle;
}

.wiki-img {
    margin-right: 0.15em;
}

.data-title {
    text-align: center;
    font-weight: bold;
    font-size: larger;
    padding: 0.5em 0;
    color: rgb(8, 36, 9);
}

.data-subtitle {
    text-align: left;
    margin-top: 1ex;
    margin-bottom: 0.1em;
    font-weight: bold;
    font-size: large;
    color: rgb(8, 36, 9);
}

/* general styles */

p {
    margin: 0.1em 0;
}

a {
    color: #000;
    text-decoration: none;
}

a:active {
    color: #0050FF;
}

a.morelink {
    font-family: Helvetica;
    font-size: 0.9em;
    text-decoration: none;
    color: rgb(0, 0, 122);
}

.list-text a {
    color: rgb(90, 0, 0);
    text-decoration: underline;
}

a.moreres {
    font-size: small;
    font-family: Helvetica;
    text-decoration: none;
    color: rgb(0, 0, 122);
}

a.direct-link {
    color: black;
}

h1 {
    margin-top: 1em;
}

h2 {
    line-height: 0em;
    font-size: 1.3em;
    font-style: italic;
    margin-bottom: 2ex;
}

/*Graph Properties*/
path {
    stroke: #15317E;
    stroke-width: 2;
    stroke-opacity: 0.6;
    fill: none;
}

circle {
    fill: #15317E;
    fill-opacity: 1.0;
}

line {
    stroke: black;
}

.node {
    cursor: default;
}

line.link {
    stroke: #999999;
    stroke-opacity: 0.6;
}