#main p{
   margin:  0.5em 0;
}

#main h1{
    font-size: 1.3em;
    text-align: center;
    margin: 1em 0;
    color: #50094A;
    font-weight: bold;
}

#main ol{
    list-style-type: decimal;
}

#main ul,ol{
    padding: 0 0 0 3em;
    line-height: 1.5em;
}

#main i{
    font-style:italic;
}

#main em{
    font-style:italic;
}

.about-meta{
    width: 70%;
    margin: 0 auto;
    line-height: 1.4em;
    padding-bottom: 5em;
    font-size: 1.2em;
}

.question{
    font-weight: bold;
    font-size: 1.15em;
    margin-top: 1em;
}

@media only screen and (max-width: 769px){
    section.about-meta{
        width: 95%;
    }
}