#main {
    min-width: 800px;
}

#header {
    position: fixed;
    top: 0;
}

.browsing-wrapper{
    margin: 1em 5%;
}

.browsing-wrapper h2{
    margin-bottom: 0.3em;
    overflow: hidden;
    padding-top: 1.5em;
    padding-bottom: .3em;
    border-bottom: 1px solid #aaa;
    font-size: 1.35em;
}

.browsing-wrapper h3{
    overflow: hidden;
    padding-top: .8em;
    padding-bottom: .5em;
    font-size: 1.2em;
}

.browsing-section {
    padding-left: 1em;
}

.browsing-section ul {
    list-style: none;
    margin-left: 1em;
    padding-left: 0;
}

.browsing-section li{
    padding-left: 1em;
    text-indent: -1em;
    margin-top: 0.2em;
}

.browsing-section li ~ li {
    margin-top: 0.8em;
}


.browsing-section ul li:before {
    content: "+";
    padding-right: 5px;
}

/* based on http://stackoverflow.com/questions/22536800/css3-multi-column-list */
.browsing-concept-list {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    -ms-column-count: 3;
    -o-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1em;
    -moz-column-gap: 1em;
    -ms-column-gap: 1em;
    -o-column-gap: 1em;
    column-gap: 1em;
    columns: 3;
}

.browsing-concept-list ul {
    list-style: none;
}

.browsing-concept-list ul li {
    display: inline-block;
    width: 100%;
}

.browsing-concept-list ul li:before {
    content: "";
    padding-right: 0;
}
