#concept-title-list{
    border-right: #333 solid 1px;
}

#concept-title-list h1{
    text-align: center;
    font-weight: bold;
    color: #333;
    font-size: 0.9em;
    padding-bottom: 0.3em;
    margin-top: 0.5em;
}

#concept-list{
    padding-top: 7em;
}

#concept-list-search{
    text-align: center;
}

#concept-list-search input{
    width: 85%;
    box-sizing: border-box;
    background: white;
    background-color: #fafafa;
    font-size: 10px;
    height: 2.2em;
    outline: 0;
    padding: 0 0.2em;
    display: inline-block;
    border: 1px solid #4e0142;
    border-radius: 4px;
    cursor: text;
}

#concept-list-search input:hover{
    cursor: text;
}

#concept-list-search #cancel-search-input{
    background-color: #F3F3F3;
    cursor: pointer;
    width: 15%;
    border-radius: 0 4px 4px 0;
    position: absolute;
    right: 7%;
    display: none;
}

#concept-title-header{
    position: fixed;
    background-color: rgb(249, 249, 255);
    z-index: 10;
    width: 20%;
    min-width: 200px;
    height: 7em;
    border-bottom: 1px #333333 solid;
    border-right: 1px #333333 solid;
    border-radius: 0px;
    box-sizing: border-box;
}

#concept-title-list .time-estimate{
    font-size: 0.8em;
    font-style: italic;
    color: #8D5E5E;
    text-align: center;
}

#concept-list-hide-button{
    position: absolute;
    z-index: 100;
    right: 0;
    top: 0.1em;
    cursor: pointer;
}

#concept-list-hide-button{
    border: 1px solid #7E7E7E;
    border-radius: 4px 0 0 4px;
    font-size: 1em;
    border-right: 0;
    color: #7e7e7e;
}

#concept-list-hide-button:hover{
    border-color: #690259;
    color: #690259;
}

#concept-list-show-button{
    display: none;
    left: 0;
    bottom: 40%;
    border-radius: 0 0 5px 5px;
    border-width: 0 1px 1px 1px;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: 0 0;
    -moz-transform: rotate(-90deg);
    -moz-transform-origin: 0 0;
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -o-transform-origin: 0 0;
    -ms-transform: rotate(-90deg);
    -ms-transform-origin: 0 0;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#concept-list-show-button.expanded{
    left: 55%;
}

.hide-clist #concept-title-list{
    display: none;
}

.hide-clist #concept-list-show-button{
    display: block;
}

@media only screen and  (max-width: 760px){
    #concept-list-wrapper#concept-title-list{
        display: none;
    }
    .show-clist #concept-list-wrapper{
        display: block;
    }

    .show-clist #concept-list-show-button{
        display: none;
    }

    .hide-clist #concept-list-wrapper{
        display: none;
    }

    #concept-list-show-button{
        display: block;
    }

    #learning-plan-button{
        display: block;
    }

    .learn-title-buttons{
        position: relative;
        display: block;
        margin-top: 0.2em;
    }

    .learn-title-buttons span{
        padding: 0 0.2em;
    }

}
