#concept-list-panel .time-estimate {
    font-size: 0.8em;
    font-style: italic;
    color: #8D5E5E;
    text-align: center;
}

#concept-list-wrapper {
    top: 7em;
 }

#concept-list {
   padding-bottom: 7em;
}

#concept-title-header {
    height: 7em;
}
