/* properties for learned circles */
.learned.concept-g > circle, .implicit-learned.concept-g > circle{
    stroke: #868686;
}

.learned text, .implicit-learned text{
    fill: #868686;
}

/* properties for learned paths */
.learned path.link, .implicit-learned path.link{
    opacity: 0.5;
}

/*********
 node icons
**********/
/* checkmark */
.concept-g .checkmark{
    cursor: pointer;
}
.concept-g .checkmark path{
    fill: transparent;
    stroke: #868686;
    stroke-width: 4;
    visibility: hidden;
}
.concept-g .checkmark circle{
    fill: transparent;
    stroke: #868686;
    stroke-width: 3;
    visibility: hidden;
}
.concept-g .learned .checkmark circle{
    fill: transparent;
    stroke: #759466;
    stroke-width: 4;
    visibility: visible;
}

.concept-g .checkmark.hovered circle{
    fill: transparent;
    stroke: #9987AF;
    stroke-width: 4;
    visibility: visible;
}

.concept-g .checkmark.hovered path{
    stroke-width: 5;
    stroke: #9987AF;
    visibility: visible;
}

.concept-g.learned .checkmark circle{
    visibility: visible;
    stroke: #759466;
    stroke-width: 4;
}

.concept-g.learned .checkmark path{
    stroke-width: 5;
    stroke: #759466;
    visibility: visible;
}
.hovered  .checkmark path, .clicked .checkmark path, .hovered .checkmark circle, .clicked .checkmark circle, .hovered .node-star polygon, .clicked .node-star-polygon, .starred polygon, .hovered .e-to-l-icon{
    visibility: visible;
}

/* star */
.node-star{
    cursor:pointer;
}

.node-star polygon{
    fill: transparent;
    stroke: #868686;
    stroke-width: 20;
    visibility: hidden;
}
.node-star.hovered polygon{
    fill: #D4C4E7;
    Stroke: #56574D;
}
.starred .node-star polygon{
    fill: #F8F8C9;
    stroke: #56574D;
    visibility: visible;
}

/* node e-to-l icon */
.e-to-l-icon{
    opacity: 0.3;
    visibility: hidden;
}

.e-to-l-icon:hover{
    opacity: 1;
    cursor: pointer;

}

.start-wisp, .end-wisp{
    fill: none;
    stroke: #333;
    stroke-width: 2px;
}

.long-edge{
    display: none;
}

path.link-wrapper-hover{
    display: block;
}

path.link-wrapper-hover.link-wrapper{
  opacity: 0.15;
 }
