/* --------------------------------------------------------*/
/* ---------->>> Specific HTML Element Styles<<<-----------*/
/* --------------------------------------------------------*/
/* html { */
/*     overflow: hidden; */
/* } */

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 1.0em;
    overflow-x: hidden;
}

/* ---------------------------------------------------*/
/* ---------->>> Error View Styles <<<----------------*/
/* ---------------------------------------------------*/
.app-error-wrapper{
    position: absolute;
    top: 4em;
    width: 100%;
    background-color: rgba(255, 255, 211, 0.97);
    text-align: center;
    padding: 2em 0;
}

.app-error-wrapper p{
    margin: 2em auto;
    font-size: 1.3em;
    line-height: 1.3em;
    width: 60%;
}

.app-error-wrapper button{
    background: white;
    border: 1px saddlebrown solid;
    padding: 0.7em;
}

/*
*** General structure of app ***
*/

#graph-view-wrapper{
    height: 100%;
    width: 100%;
    display: none;
}

#main-display-view{
    height: inherit;
    overflow: auto;
}

/* --------------------------------------------------------*/
/* ---------->>> Explore View Structure Styles <<<---------*/
/* ------------------------------------------------------*/

#explore-view-wrapper{
    display: none;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: white;
}

#explore-view{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

@media only screen and  (max-width: 760px){
    #learn-view-wrapper{
        padding-left: 1.8em;
        padding-right: 1em;
        margin-left: 0;
    }
}
