/* --------------------------------------------------------*/
/* ---------->>> Specific HTML Element Styles<<<-----------*/
/* --------------------------------------------------------*/
body {
    margin: 0;
    padding: 0;
    border: 0; /* removes the border around the viewport in old versions of IE */
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    font-size: 1.0em;
    overflow: hidden;
}

/* App tools */

#apptools{
    margin: 0.5em;
    padding: 0.5em 0.5em;
    position: absolute;
    z-index: 10;
    top: 2em;
    right: 0;
    background: rgba(253, 253, 253, 0.98);
    border: 2px solid #5C4A56;
    border-radius: 10px;
}

#apptools button, #hovertext-buttons button{
    -webkit-box-shadow: 1px 1px 2px #463838;
    -moz-box-shadow: 1px 1px 2px #463838;
    box-shadow: 1px 1px 2px #463838;
    -webkit-border-radius: 5px;  
    -moz-border-radius: 5px;  
    border-radius: 5px;
    border: 2px #5C4A56 solid;
    background-color: transparent;
    padding: 1.5px;
    cursor: pointer;
}

#apptools button:hover{
    border: 2px #D145CC solid;
}

.apptools-title{
    text-align: center;
    font-size: 0.95em;
    font-weight: bold;
}

/* Explore-Learn Navigation Button */
.e-to-l-summary-link{
    color: blueviolet;
    margin-right: 0.5em;
    cursor: pointer;
    text-decoration: underline;
}

.el-nav-button img{
    width: 30px;
    height: 30px;
}

#apptools .el-nav-button.active{
    opacity: 0.7;
    border: 2px #5C4A56 solid;
    cursor: default;
   -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#apptools .el-nav-button.active:hover{
    cursor: default;
    border: 2px #5C4A56 solid;
}

#explore-learn-button-wrapper{
    text-align: center;
    margin: 0.3em 0px 0.6em;
}

/* apptools action buttons */

#apptools .toggle-lc-button{
    width: 5em;
    margin: 0.5em 0.4em;
    line-height: 1.3em;
 }

#apptools button.toggle-lc-button.disabled{
    opacity: 0.5;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#apptools button.toggle-lc-button.disabled:hover{
    border: 2px #5C4A56 solid;
    cursor: default;
}

.horz-center-wrapper{
    margin: 0 auto;
}

.underline{
    text-decoration: underline;
}

/* ---------------------------------------------------*/
/* ---------->>> Load View Styles <<<-----------------*/
/* ---------------------------------------------------*/
#load-view-wrapper{
    display: none;
    height: 100%;
    width: 100%;
    background: white;
    text-align: center;
}

.load-content{
    font-size: 0.95em;
    margin-top: 3em;
    vertical-align: middle;
}

/* ---------------------------------------------------*/
/* ---------->>> Error View Styles <<<----------------*/
/* ---------------------------------------------------*/
.app-error-wrapper{
    position: absolute;
    top: 4em;
    width: 100%;
    background-color: rgba(255, 255, 211, 0.97);
    text-align: center;
    padding: 2em 0;
}

.app-error-wrapper p{
    margin: 2em auto;
    font-size: 1.3em;
    line-height: 1.3em;
    width: 60%;
}

.app-error-wrapper button{
    background: white;
    border: 1px saddlebrown solid;
    padding: 0.7em;
}

/* ---------------------------------------------------*/
/* ---------->>> Learn View Styles <<<----------------*/
/* ---------------------------------------------------*/

#learn-view-wrapper{
    display: none;
    width: 100%;
    background: white;
    height: inherit;
}

#learn-view{
    padding-bottom: 5em;
    min-width: 600px;
    height: inherit;
}

#learn-title-list{
    width: 20%;
    float: left;
    border-right: 1px solid #333;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;   
    box-sizing: border-box;
    overflow: auto;
    height: inherit;
}

#learn-title-list h1{
    text-align: center;
    font-weight: bold;
    color: #333;
    font-size: 0.9em;
    padding-bottom: 0.5em;
}

#learn-title-list .time-estimate{
    font-size: 0.8em;
    text-align: center;
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 1em;
}

#learn-concept-wrapper{
    height: inherit;
    margin-left: 20%;
    overflow: auto;
}

.learn-title-display{
    text-align: center;
    display: block;
    cursor: pointer;
    text-decoration: none;
    color: #3E4018;
    padding: 0.9em 2.55em;;
    line-height: 1.2em;
    font-size: 0.9em;
    border-bottom: 1px solid #CCCCCC;
    position: relative;
}
.learn-title-display:hover{
    background-color: rgb(250, 242, 248);
}
.learn-title-display.clicked-title{
    /*background-color: rgb(255, 255, 249);*/
    font-weight: bold;
    color: #333333;
    background-color: rgb(245, 232, 242);
    cursor: default;
}

.node-detail-view{
   background-color: white; 
   color: #23240D;
   padding: 0.3em 10em 1em 1.5em;
   line-height: 1.2em;
}

.node-detail-view h1{
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
}

h1 .learn-view-check, h1 .learn-view-star{
    display: inline-block;
    cursor: default;
}

h1 .learn-view-check{
    margin-left: 0.2em;
}

h1 .learn-view-star{
    font-size: 0.9em;
}

.node-detail-title{
    color: #333333;
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
    padding: 2em 0 .7em 0;
    line-height: 0;
}

.node-detail-subtitle{
    color: #333333;
    font-size: 1em;
    font-style: normal;
    margin: 0.5em 0;
    font-weight: bold;
}

.node-detail-summary-text{
    line-height: 1.2em;
    padding-right: 3em;
}

.info-text{
    font-style: italic;
    font-weight: normal;
    font-size: 0.95em;
}

.learned-concept-title, .implicit-learned-concept-title{
    opacity: 0.5;
}

.learn-title-buttons{
    display: inline-block;
    color: #8e8888;
    font-size: 1.3em;
    font-weight: bold;
    right: 0.1em;
    position: absolute;
}

.learn-title-buttons .learn-view-star{
    font-weight: normal;
}

.learn-title-buttons span{
    visibility: hidden;
}

 .learn-view-check:hover, .learn-view-star:hover{
     color: #B99797;
     cursor: pointer;
 }


.learned-concept-title .learn-view-check, .learned-concept .learn-view-check, .learned-concept .learn-view-check:hover{
    visibility: visible;
    color: green;
}


.starred-concept-title .learn-view-star, .starred-concept .learn-view-star, .starred-concept .learn-view-star:hover{
    visibility: visible;
    color: rgb(192, 182, 109);
}


.learn-title-display:hover .learn-title-buttons span{
    visibility: visible;
}

.node-detail-comp-wrap{
    margin: 0 0 0.3em 1em;
}

.resource-content-wrap{
    margin-left: 1.5em;
}

.resource-view{
    color: #252313;
    line-height: 1.1em;
    width: 90%;
    display: inline-block;
    overflow: auto;
    margin-top: 0;
}

.resource-view ~ .resource-view{
    margin-top: 1em;
}


.resource-title a{
    color: #223804;
}

.more-resource-info{ 
    display: inline-block;
    cursor: pointer;
}

.resource-location-display, .resource-dependencies-display{
    margin-top: 0.1em;
}

.resource-location, .resource-edition, .resource-level, .resource-author, .resource-dependencies, .resource-extra{
    font-size: 0.9em
}

.resource-location-item, .resource-dependencies-item, .resource-extra-item{
    font-size: 0.9em;
}

.dependency-view, .outlink-view{
    line-height: 1.2em;
    margin: 0.1em 0 0.4em;
}

.dependency-reason, .outlink-reason{
    color: #333;
    font-size: 0.9em;
}

.no-content-msg{
    margin: 0.2em 0;
    display: inline-block;
    font-size: 0.8em;
    font-style: italic;
}

.node-detail-comp-wrap ul{
    list-style: none;
    margin-left: 1em;
    padding-left: 0;
}

.node-detail-comp-wrap li{
    padding-left: 1em;
    text-indent: -1em;
    margin-bottom: 0.2em;
}
.node-detail-comp-wrap li:before{
    content: "+";
    padding-right: 5px;
}

.pointers-wrap li ~ li{
    margin-top: 0.5em;
    margin-bottom: 0;
}

.pointers-wrap ul{
    margin-left: 0;
}

.pointers-wrap ul ul{
    margin-left: 1em;
    margin-top: 0.1em;
}

.pointers-wrap ul ul li{
    margin-top: 0.1em;
}

.pointers-wrap ul ul li:before{
    content: "-";
    padding-right: 5px;
}

.goals-wrap ul{
    margin-left: 0;
}

.goals-wrap ul ul{
    margin-left: 1em;
}

.goals-wrap ul ul li:before{
    content: "-";
    padding-right: 5px;
}

.key-resource-star{
    font-size: 0.8em;
    display: inline-block;
    margin-right: 0.25em;
}

/* --------------------------------------------------------*/
/* ---------->>> Explore View non-SVG Style <<<-----------*/
/* ------------------------------------------------------*/

#explore-view-wrapper{
    display: none;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: white;
}

#explore-view{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.summary-text {
    padding: 0.4em 0.7em;
    color: #3E4018;
    background-color: white;
    border: solid;
    border-width: 4px;
    border-color: #493A5C;
    overflow: auto;
    font-size: 1em;
    line-height: 1.4em;
    max-height: 12em; 
    min-height: 4em;
    border-radius: 0.7em 0.7em;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
    -ms-box-sizing: border-box; /* IE */
}

.summary-text p{
    display: inline;
}

.summary-wrap{
    position: absolute;
}
/* creates the larger triangle that points to the right > */
.summary-wrap.tright:before {
    content: "";
    border: solid;
    border-width: 16px 0 16px 32px;
    border-color: transparent #493A5C; /*#493A5C;*/
    position: absolute;
    top: 20px;
    right: -28px ; /* value = - triangle width + border-right-width */
    display: block;
    width:0;
    -moz-transform: scale(.9999);
}
/* creates the smaller  triangle that points to the right > */
.summary-wrap.tright:after {
    content: "";
    border-style: solid;
    border-width: 12px 0 12px 24px; /* larger triangle - border width */
    border-color: transparent white;
    position: absolute;
    top: 24px; /* position of larger triangle + border width */
    right: -20px; /* value = - small triangle width + border-right-width */
    display: block;
    width: 0;
    -moz-transform: scale(.9999);
}
/* creates the larger triangle that points to the left < */
.summary-wrap.tleft:before {
    content: "";
    border: solid;
    border-width: 16px 32px 16px 0;
    border-color: transparent #493A5C; /*#493A5C;*/
    position: absolute;
    top: 20px;
    left: -28px ; /* value = - triangle width + border-left-width */
    display: block;
    width: 0;
    -moz-transform: scale(.9999);
}
/* creates the smaller  triangle that points to the left <*/
.summary-wrap.tleft:after {
    content: "";
    border-style: solid;
    border-width: 12px 24px 12px 0; /* larger triangle - border width */
    border-color: transparent white;
    position: absolute;
    top: 24px; /* position of larger triangle + border width */
    left: -20px; /* value = - small triangle width + border-left-width */
    display: block;
    width: 0;
    -moz-transform: scale(.9999);
}

#hovertext-buttons{
    right: 0;
    position: absolute;
    top: 0;
    display: none;
}
#hovertext-buttons button{
    padding: 0.1em;
    display: block;
    border: 1px solid #333;
}
#hovertext-buttons button img{
    width: 17px;
    height: 17px;
}

#hovertext-buttons button.specific-concept-favorite-button{
    font-size: 1.3em;
    color: green;
    border: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* ---------------------------------------------------*/
/* ---------->>> Explore Graph Svg Style<<<-----------*/
/* ---------------------------------------------------*/

/* set default properties for common svg elements */
line, polygon, path {
    stroke: #333333;
    fill: #333333;
}

/* edge path in digraph */
path {
    stroke-width: 4;
    fill: transparent;
}

/* node ellipse */
ellipse{
    stroke: #333333;
    stroke-width: 3;
    fill: #F6FBFF; /* light shade of alice blue see http://encycolorpedia.com/f6fbff for color scheme */
}
.hovered ellipse{
    fill: #f1f3f9;
}
.clicked ellipse{
    fill: #f1f3f9;
}

.node {
    cursor: default;
}
.node text{
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    stroke-width: 0;
    fill: #333
}

/* node e-to-l icon */
.e-to-l-icon{
    opacity: 0.5;
    visibility: hidden;
}

.e-to-l-icon:hover{
    opacity: 1;
    cursor: pointer;
}

/* node star */
.node-star polygon{
   fill: transparent;
   stroke: #868686;
   stroke-width: 20;
   visibility: hidden;
}

.node-star-hovered polygon, .node-starred .node-star polygon{
   fill: #F8F8C9;
   stroke: #56574D;
}

/* completed checkmark for learned nodes */
.checkmark path{
    fill: transparent;
    stroke: #868686;
    stroke-width: 4;
    visibility: hidden;
}
.checkmark circle{
    fill: transparent;
    stroke: #868686;
    stroke-width: 3;
    visibility: hidden;
}
.checkmark-hovered circle, .node-learned .checkmark circle{
    fill: transparent;
    stroke: #759466;
    stroke-width: 4;
    visibility: visible;
}
.checkmark-hovered path, .node-learned .checkmark path{
    stroke-width: 5;
    stroke: #759466;
    visibility: visible;
}
.hovered  .checkmark path, .clicked .checkmark path, .hovered .checkmark circle, .clicked .checkmark circle, .hovered .node-star polygon, .clicked .node-star-polygon, .node-starred polygon, .hovered .e-to-l-icon{
    visibility: visible;
}
/* properties for learned nodes */
.node-learned{
    opacity: 0.5;
}

.implicit-learned{
    opacity: 0.6;
}