/* --------------------------------------------------------*/
/* ---------->>> Specific HTML Element Styles<<<-----------*/
/* --------------------------------------------------------*/
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 1.0em;
    overflow-x: hidden;
}


/* ---------------------------------------------------*/
/* ---------->>> Error View Styles <<<----------------*/
/* ---------------------------------------------------*/
.app-error-wrapper{
    position: absolute;
    top: 4em;
    width: 100%;
    background-color: rgba(255, 255, 211, 0.97);
    text-align: center;
    padding: 2em 0;
}

.app-error-wrapper p{
    margin: 2em auto;
    font-size: 1.3em;
    line-height: 1.3em;
    width: 60%;
}

.app-error-wrapper button{
    background: white;
    border: 1px saddlebrown solid;
    padding: 0.7em;
}

/*
*** General structure of app ***
*/
#concept-list-wrapper{
    width: 20%;
    min-width: 200px;
    display: block;
    float: left;
    position:relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box; /* IE */
    box-sizing: border-box;
    overflow: auto;
    height: inherit;
    border-right: 1px solid #CCCCCC;
}

#explore-graph-view-wrapper{
    height: 100%;
    width: 100%;
}

#main-display-view{
    height: inherit;
    overflow: auto;
}

/* --------------------------------------------------------*/
/* ---------->>> Explore View Structure Styles <<<---------*/
/* ------------------------------------------------------*/

#explore-view-wrapper{
    display: none;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: white;
}

#explore-view{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

/* button for hiding/showing side objects */
.small-vp-button{
    display: none;
    cursor: pointer;
    position: absolute;
    text-align: center;
    font-family: sans-serif;
    background: rgb(102, 102, 102);
    z-index: 10;
    color: rgb(236, 236, 236);
    border: #302C2C solid;
    padding: 0.2em 1em;
}

@media only screen and  (max-width: 760px){
    #main-display-view{
        padding-left: 2em;
        padding-right: 1em;
        margin-left: 0;
    }

    #concept-list-wrapper{
        display: none;
    }
}
