#main{
    position: relative;
    overflow-y: scroll;
}

p{
     text-align: center;
     overflow: overlay;
     position: relative;
}

input{
    border-radius: 5px;
    padding: 0.2em;
}

body{
    margin: 0;
    padding: 0;
    overflow:hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#gc-wrap{
    display: none;
    width: inherit;
    height: inherit;
}

#create-instructions{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.8em;
    background-color: #F0F0F0;
    color: rgb(143, 126, 139);
    border-radius: 5px;
    padding: 0.5em;
}

#instruction-display-text{
    text-align: center;
}

#create-instructions:hover #instruction-display-text{
    display: none;
}

#instruction-text{
    display: none;
    font-size: 1.2em;
    padding: 1em;
}

#instruction-text ul{
    list-style: circle;
    padding-left: 2em;
}

#instruction-text li + li{
    margin-top: 1em;
}

.instr-task{
    font-weight: bold;
    display: block;
}

#create-instructions:hover #instruction-text{
    display: block;
}

#gc-wrap svg{
    height: 100%;
    width: 100%;
    position: absolute;
}

#concept-editor-wrap{
    display: none;
}

/* Graph editor specific styles */
g.concept-g circle.to-edit-circle{
    fill: #C2DBFC;
    display: none;
}

g.concept-g.hovered circle.to-edit-circle{
    display: block;
}

g.connect-node circle{
    fill: #BEFFFF;
}

/***************************
*** Editable Content CSS ***
***************************/

#back-to-graph-button{
    position: absolute;
    left: 0;
    background: aliceblue;
    padding: 0.8em;
    border: 1px #333 solid;
    margin-left: 1em;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: inline-block;
}

.ec-tabs button{
   display:block;
   margin:0 0 0 1px;
   padding:3px 10px;
   background:#ddd;
   color:#000;
   text-decoration:none;
   line-height:1.3em;
   border: 0;
}

.ec-tabs  button:hover {
   background:#369;
   color:#fff;
}
.ec-tabs button.active,
.ec-tabs button.active:hover {
   color:#fff;
   background:#000;
   font-weight:bold;
}

.ec-title{
    text-align: center;
    margin: 1em 0;
}

.ec-title input{
    width: 25em;
    font-size: 1.2em;
    text-align: center;
}

.ec-tabs {
   width:100%;
   background:#fff;
   border-bottom: 4px solid #000;
   overflow:hidden;
   position:relative;
}
.ec-tabs ul {
   clear:left;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   left:50%;
   text-align:center;
}
.ec-tabs ul li {
   display:block;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   right:50%;
}

.ec-display-wrap{
    position: relative;
    margin: 1em auto;
    display:none;
    margin: auto;
    width: 70%;
    text-align: center;
}

.ec-display-wrap.active{
    display:block;
}

.ec-display-wrap > h3{
    margin: 0.5em;
}

.ec-display-wrap textarea{
    width: 100%;
    height: 15em;
    margin-top: 1em;
}

.dep-entry{
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;
    border: 2px solid #C9B8C7;
    background-color: rgb(244, 240, 245);
    border-radius: 5px;
    padding: 1em;
}

.dep-entry h3{
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.3em;
}

.dep-entry input{
    width: 70%;
}

#resources-tidbit-wrap{
    margin-top: 1.5em;
}

#add-resource-button{
    border: 0;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
    background-color: #50094A;
    padding: 0.3em;
    padding-right: 0.6em;
    font-size: 0.5em;
    font-weight: bold;
    text-align: center;
    color: white;
    position: absolute;
    left: 0;
    top: -2em;
    font-size: .7em;
}

#add-resource-button:hover{
    background: #A01F70;
}

.ec-button{
    position: absolute;
    bottom: 0em;
    left: 50%;
    width: 10em;
    margin-left: -5em;
    border: none;
    background: rgb(226, 226, 226);
    border-radius: 5px;
    font-weight: bold;
    color: #696969;
    cursor: pointer;
}
.ec-button:hover{
    background-color: rgb(245, 223, 237);
}

.expanded .expand-resource{
    display: none;
}

.contract-resource{
    display: none;
}

.expanded .contract-resource{
    display: block;
}

.expand-content{
    display: none;
}

.expanded .expand-content{
    display: block;
}

.resource-form{
    position: relative;
    border: 2px solid #B4ADAD;
    border-radius: 4px;
    padding: 1em;
    text-align: left;
}

.resource-form label{
    margin-left: 15%;
    font-size: 0.9em;
    font-weight: bold;
    display: block;
}
.resource-form + .resource-form{
    margin-top: 2em;
}

.resource-form input{
    margin-left: 15%;
    display: block;
    margin-bottom: 1.5em;
}
.resource-form input[type="radio"]{
    display: inline;
}

.resource-form textarea{
    height: 5em;
}

.resource-form input[type="text"], .resource-form textarea{
    width: 70%;
    line-height: 1.4em;
    display: block;
    margin: 0 auto 1.5em auto;
}
