/* Concept Gs */
.concept-g{
    cursor: default;
}

.concept-g text{
    pointer-events: none;
    font-family: "Lato", Arial, sans-serif;
    font-weight: bold;
    font-size: 0.8em;
    stroke-width: 0;
    fill: #333
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.concept-g.reduce-node-title text{
    font-size: 0.6em;
}

.concept-g circle{
    stroke: #333333;
    stroke-width: 2px;
    fill: #F6FBFF; /* light shade of alice blue see http://encycolorpedia.com/f6fbff for color scheme */
}

.concept-g:hover circle{
    fill: #ECF6FF;
}

.selected circle{
    fill: rgb(250, 232, 255);
}
.selected:hover circle{
    fill: rgb(250, 232, 255);
}


/* Path Gs */
marker{
    fill: #333;
}

path.link.hidden{
    stroke-width: 0;
}

.selected path.link {
    stroke: rgb(229, 172, 247);
}


path.link {
    fill: transparent;
    stroke: #333;
    stroke-width: 2px;
    cursor: default;
}

path.link-wrapper, path.short-link-wrapper{
    fill: none;
    stroke: #8282e5;
    stroke-width: 24px;
    opacity: 0;
}

path.link-wrapper:hover{
    opacity: 0.15;
}

.dep-icon-g rect, .ol-icon-g rect{
    fill: #333;
    stroke-width: 0;
    stroke: #333;
    display: none;
}
.dep-icon-g rect:hover, .ol-icon-g rect:hover{
    stroke-width: 5px;
}

.hovered .dep-icon-g rect, .hovered .ol-icon-g rect {
    display: block;
}

.dep-icon-g polygon, .ol-icon-g polygon{
    stroke-width: 0px;
    stroke: #333;
    fill: #333;
}
.dep-icon-g polygon:hover, .ol-icon-g polygon:hover{
    stroke-width: 3px;
}


/* Summary hover element */

.summary-text {
    padding: 0.4em 0.7em;
    color: #3E4018;
    background-color: white;
    border: solid;
    border-width: 4px;
    border-color: #493A5C;
    overflow: auto;
    font-size: 1em;
    line-height: 1.4em;
    max-height: 12em;
    min-height: 4em;
    border-radius: 0.7em 0.7em;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
    -ms-box-sizing: border-box; /* IE */
    box-sizing: border-box;
}

.summary-text p{
    display: inline;
}

.summary-wrap{
    position: absolute;
}
/* creates the larger triangle that points to the right > */
.summary-wrap.tright:before {
    content: "";
    border: solid;
    border-width: 16px 0 16px 32px;
    border-color: transparent #493A5C; /*#493A5C;*/
    position: absolute;
    top: 20px;
    right: -28px ; /* value = - triangle width + border-right-width */
    display: block;
    width:0;
    -moz-transform: scale(.9999);
}
/* creates the smaller  triangle that points to the right > */
.summary-wrap.tright:after {
    content: "";
    border-style: solid;
    border-width: 12px 0 12px 24px; /* larger triangle - border width */
    border-color: transparent white;
    position: absolute;
    top: 24px; /* position of larger triangle + border width */
    right: -20px; /* value = - small triangle width + border-right-width */
    display: block;
    width: 0;
    -moz-transform: scale(.9999);
}
/* creates the larger triangle that points to the left < */
.summary-wrap.tleft:before {
    content: "";
    border: solid;
    border-width: 16px 32px 16px 0;
    border-color: transparent #493A5C; /*#493A5C;*/
    position: absolute;
    top: 20px;
    left: -28px ; /* value = - triangle width + border-left-width */
    display: block;
    width: 0;
    -moz-transform: scale(.9999);
}
/* creates the smaller  triangle that points to the left <*/
.summary-wrap.tleft:after {
    content: "";
    border-style: solid;
    border-width: 12px 24px 12px 0; /* larger triangle - border width */
    border-color: transparent white;
    position: absolute;
    top: 24px; /* position of larger triangle + border width */
    left: -20px; /* value = - small triangle width + border-left-width */
    display: block;
    width: 0;
    -moz-transform: scale(.9999);
}
