/* Concept Gs */
.concept-g{
    cursor: default;
}

.concept-g text{
    pointer-events: none;
    font-family: "Lato", Arial, sans-serif;
    font-weight: bold;
    font-size: 0.8em;
    stroke-width: 0;
    fill: #333
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.concept-g circle{
    stroke: #333333;
    stroke-width: 2px;
    fill: #F6FBFF; /* light shade of alice blue see http://encycolorpedia.com/f6fbff for color scheme */
}

.concept-g:hover circle{
    fill: #ECF6FF;
}

.selected circle{
    fill: rgb(250, 232, 255);
}
.selected:hover circle{
    fill: rgb(250, 232, 255);
}


 /* Path Gs */
marker{
    fill: #333;
}

path.link.hidden{
    stroke-width: 0;
}

.selected path.link {
    stroke: rgb(229, 172, 247);
}


path.link {
    fill: transparent;
    stroke: #333;
    stroke-width: 2px;
    cursor: default;
}

path.link-wrapper, path.short-link-wrapper{
    fill: none;
    stroke: rgb(22, 76, 216);
    stroke-width: 24px;
    opacity: 0;
}

path.link-wrapper:hover{
    opacity: 0.15;
}

.dep-icon-g rect, .ol-icon-g rect{
    fill: #333;
    stroke-width: 0;
    stroke: #333;
    display: none;
}
.dep-icon-g rect:hover, .ol-icon-g rect:hover{
    stroke-width: 5px;
}

.hovered .dep-icon-g rect, .hovered .ol-icon-g rect {
    display: block;
}

.dep-icon-g polygon, .ol-icon-g polygon{
    stroke-width: 0px;
    stroke: #333;
    fill: #333;
}
.dep-icon-g polygon:hover, .ol-icon-g polygon:hover{
    stroke-width: 3px;
}
