#main{
    position: relative;
    overflow-y: scroll;
}

p{ 
     text-align: center; 
     overflow: overlay;
     position: relative;
}

input{
    border-radius: 5px;
    padding: 0.2em;
}

body{
    margin: 0;
    padding: 0;
    overflow:hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#gc-wrap{
    display: none;
}

#concept-editor-wrap{
    display: none;
}

#toolbox{
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 0.5em;
    margin-left: 1em;
    border: 2px solid #EEEEEE;
    border-radius: 5px;
    padding: 1em;
    z-index: 5;
}

#toolbox input{
    width: 30px;
    opacity: 0.4;
}
#toolbox input:hover{
    opacity: 1;
    cursor: pointer;
}

#hidden-file-upload{
    display: none;
}

#download-input{
    margin: 0 0.5em;
}

.conceptG text{
    pointer-events: none;
}

marker{
    fill: #333;
}

g.conceptG circle{
    fill: #F6FBFF;
    stroke: #333;
    stroke-width: 2px;
}

g.conceptG:hover circle{
    fill: rgb(200, 238, 241);
}

g.selected circle{
    fill: rgb(250, 232, 255);
}
g.selected:hover circle{
    fill: rgb(250, 232, 255);
}

g.conceptG circle.to-edit-circle{
    fill: #C2DBFC;
    display: none;
}

g.conceptG.hover-g circle.to-edit-circle{
    display: block;
}

path.link {
    fill: none;
    stroke: #333;
    stroke-width: 2px;
    cursor: default;
}

path.link-wrapper{
    fill: none;
    stroke: rgb(22, 76, 216);
    stroke-width: 24px;
    opacity: 0;
}

path.link-wrapper:hover{
    opacity: 0.15;
}


g.connect-node circle{
    fill: #BEFFFF;
}

path.link.hidden{
    stroke-width: 0;
}

.selected path.link {
    stroke: rgb(229, 172, 247);
}


/***************************
*** Editable Content CSS ***
***************************/

#back-to-graph-button{
    position: absolute;
    left: 0;
    background: aliceblue;
    padding: 0.8em;
    border: 1px #333 solid;
    margin-left: 1em;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: inline-block;
}

.ec-tabs button{
   display:block;
   margin:0 0 0 1px;
   padding:3px 10px;
   background:#ddd;
   color:#000;
   text-decoration:none;
   line-height:1.3em;
   border: 0;
}

.ec-tabs  button:hover {
   background:#369;
   color:#fff;
}
.ec-tabs button.active,
.ec-tabs button.active:hover {
   color:#fff;
   background:#000;
   font-weight:bold;
}

.ec-title{
    text-align: center;
    margin: 1em 0;
}

.ec-title input{
    width: 25em;
    font-size: 1.2em;
    text-align: center;
}

.ec-tabs {
   width:100%;
   background:#fff;
   border-bottom: 4px solid #000;
   overflow:hidden;
   position:relative;
}
.ec-tabs ul {
   clear:left;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   left:50%;
   text-align:center;
}
.ec-tabs ul li {
   display:block;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   right:50%;
}

.ec-display-wrap{
    margin: 1em auto;
    display:none;
    margin: auto;
    width: 70%;
    text-align: center;
}

.ec-display-wrap.active{
    display:block;
}

.ec-display-wrap > h3{
    margin: 0.5em;
}

.ec-display-wrap textarea{
    width: 100%;
    height: 15em;
}

.dep-entry{
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;
    border: 2px solid #C9B8C7;
    background-color: rgb(244, 240, 245);
    border-radius: 5px;
    padding: 1em;
}

.dep-entry h3{
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.3em;
}

.dep-entry input{
    width: 70%;
}

.dep-icon-g rect, .ol-icon-g rect{
    fill: #333;
    stroke-width: 0;
    stroke: #333;
    display: none;
}
.dep-icon-g rect:hover, .ol-icon-g rect:hover{
    stroke-width: 5px;
}

.hover-g .dep-icon-g rect, .hover-g .ol-icon-g rect {
    display: block;
}

.dep-icon-g polygon, .ol-icon-g polygon{
    stroke-width: 0px;
    stroke: #333;
    fill: #333;
}
.dep-icon-g polygon:hover, .ol-icon-g polygon:hover{
    stroke-width: 3px;
}
