.main-search-wrap{
    position:absolute;
    margin: 5em 0 0 50%;
    padding-bottom: 5em;
    left: -298.5px;
    /* margin:-68.5px 0 0 -298.5px;  /\* dependent on logo image size*\/ */
}

#main-search-input{
    width: 703px;
    min-height: 2.3em;
    outline: none;
    display: block;
    margin: 1em 0 0 -53px;
    border: 1px solid #999999;
    padding: 0.2ex 1ex;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
    background-color: white;
    border-radius: 3px;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
    -ms-box-sizing: border-box; /* IE */
    box-sizing: border-box;
}
#main-search-input:focus{
    border-color: #501644;
    box-shadow: inset 3px 3px 4px rgba(0,0,0,0.075);
}
#main-search-input:hover{
   box-shadow: inset 3px 3px 4px rgba(0,0,0,0.075);
}
#main-search-logo{
    display: block;
}

.dev-note{
    margin-top: 2em;
    line-height: 1.2em;
    font-size: 0.9em;
    text-align: center;
    font-style: italic;
    color: #512161;
    margin-left: -53px;
}

.login-note{
    padding: 1em;
    position: absolute;
    right: 1em;
    top: 3.2em;
    width: 15em;
    border: 2px solid #333;
    text-align: center;
    border-radius: 10px;
    background-color: #FCF7FB;
    line-height: 1.3em;
    font-size: 0.8em;
    z-index: 10;
}
/* creates the larger triangle that points to the top > */
.login-note:before {
    content: "";
    border: solid;
    border-width: 0 8px 16px 8px;
    border-color: #333 transparent;
    position: absolute;
    right: 15px;
    top: -16px;
    display: block;
    width: 0;
    -moz-transform: scale(.9999);
}
/* creates the smaller  triangle that points to the top > */
.login-note:after {
    content: "";
    border-style: solid;
    border-width: 0 6px 12px 6px;
    border-color: #FCF7FB transparent;
    position: absolute;
    top: -12px;
    right: 17px;
    display: block;
    width: 0;
    -moz-transform: scale(.9999);
}