/* standard styles */
.content em {
    font-style: italic;
}

.content strong {
    font-weight: bold;
}

.content ol {
    list-style-type: decimal;
    margin-left: 2em;
}

.content ol ol {
    margin-left: 1em;
}

.content blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}
.content blockquote p {
  display inline;
  margin: 0;
}

.content p code {
  font: 12px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
  color: #52595d;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  padding: 0px 3px;
  display: inline-block;
}

.content code {white-space: nowrap;}

.content pre {
  border: 1px solid #cacaca;
  line-height: 1.2em;
  font: 12px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
  padding: 10px;
  overflow:auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #FAFAFB;
  color: #393939;
  margin: 0.3em;
}
.content pre code {white-space: pre;}

table {
    margin: auto;
    border-collapse: collapse;
    border: 1px solid #23240D;
}

td {
    border: 1px solid #23240D;
    padding: 1em;
}


.container {
    width: 75%;
    padding-bottom: 3em;
    margin: 2em auto;
    font-size: 16px;
    color: #23240D;
}

.aux-info{
    font-style: italic;
    margin-bottom: 0.58em;
}

.no-edit-inform{
    padding: 1em;
    background: rgb(245, 200, 200);
    border-radius: 5px;
    text-align: center;
    margin-bottom: 1em;
}

.roadmap-header {
    margin: 1.5em auto 1em auto;
    width: 75%;
}

.roadmap-header h1{
    margin-top: 0;
    font-size: 1.8em;
    font-weight: bold;
    display: inline-block;
}

.roadmap-header-nav{
    margin-top: 0.5em;
}

.roadmap-header-nav a{
    padding: 0.5em;
    border: 1px solid #333;
    border-radius: 5px;
    margin: 0 0.1em;
    font-size: 8pt;
    display: inline-block;
    text-decoration: none;
    color: #333;
}

.roadmap-header-nav a:hover{
    background-color: #eeeeee;
}

.edit #source-nav, .view #read-nav, .history #history-nav, .settings #settings-nav{
    background-color: #333;
    color: white;
    cursor: default;
}

a.external-link{
     background: url("http://upload.wikimedia.org/wikipedia/commons/6/64/Icon_External_Link.png") center right no-repeat; padding-right: 12px;
     background-size: 10px;

}

.edit-link a{
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
}

.author, .audience {
    font-size: 1em;
    padding-bottom: 0.3em;
}

.content {
    font-size: 1.0em;
    overflow: hidden;
    color: #23240D;
    line-height: 1.4em;
}

.content p {
    margin-top: 0.3em;
    padding: 0;
}

.content p + p, .content ul + p {
    margin: 1.3em 0 0 0;
}

.history-header{
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
}

.content h1 {
    font-weight: bold;
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 0.3em;
    padding-bottom: 0.3em;
    border-bottom: 1px solid #B6B0B0;
}

.content h2 {
    font-weight: bold;
    font-size: 1.3em;
    margin-top:  1.3em;
    margin-bottom: 0.3em;
    padding-bottom: 0.3em;
    border-bottom: 1px solid #E6E6E6;
}

.content h3 {
    font-weight: bold;
    font-size: 1.1em;
    margin-top: 1em;
    margin-bottom: 0.3em;
}

.content ul {
    list-style: none;
    margin-left: 1em;
    padding-left: 0;
}

.content li{
    padding-left: 1em;
    text-indent: -1em;
    margin-top: 0.2em;
}

.content li ~ li {
    margin-top: 0.4em;
}

.content ul ul li{
    margin-top: 0;
}

.content ul ul li ~ li{
    margin-top: 0.1em;
}

.content ul li:before {
    content: "+";
    padding-right: 5px;
}

.content ul ul {
    margin-left: 1em;
}

.content ul ul li:before {
    content: "-";
    padding-right: 5px;
}

.form-wrapper {
    width: 75%;
    margin: 2em 12.5%;
    padding-bottom: 3em;
}

.form-wrapper input, .form-wrapper textarea{
    border-radius: 3px;
    border: 1px solid #ABACB4;
    padding: 0.1em;
    width: 100%;
    max-width: 70em;
}

#id_blurb{
    width: 70%;
    height: 6em;
}

.form-title {
    font-size: 1.8em;
    padding-bottom: 0.5em;
}

.form-field{
    margin-bottom: 1.5em;
}

.form-field label{
    font-size: 0.9em;
    font-weight: bold;
    color: #333;
    width: 15%;
    float: left;
    margin-top: 0.5em;
    text-align: right;
    margin-right: 1em;
}

.form-field input{
    height: 1.4em;
    padding-left: 0.3em;
    font-size: 1em;
    width: 40%;
}

.body-button-outer-wrapper {
    width: 100%;
}

.body-button-wrapper{
    padding-bottom: 1em;
    width: 100%;
}

.buttons{
    text-align: right;
}

#edit-summary{
    margin: 0.5em 0;
}
#edit-summary input{
    width: 100%;
}
#edit-summary label{
    float: none;
}

.buttons > .submit-button{
    font-size: 1.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    width: 8em;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#preview-button{
    background-color: #70404F;
}

#save-button{
    background-color: #413C3E;
}

#publish-button{
    background-color: rgb(16, 92, 16);
}

#preview-area{
    clear: both;
}

ol.history-list{
    width: 70%;
    margin: auto;
}

.history-list li {
    border: 1px solid #B6ADAD;
    margin: 1em auto;
    border-radius: 5px;
    padding: 0.5em;
    max-width: 40em;
}

.history-list li.current{
    background-color: #FFF7FD;
}

.revision-history-comment{
    color: #818288;
    font-size: 0.8em;
    margin-top: 0.4em;
}

.revision-history-preview, .revision-history-revert{
    float: right;
}

.revision-history-preview a, .revision-history-revert a{
    min-width: 3.5em;
    text-align: center;
    color: white;
    padding: 0.7em;
    display: inline-block;
    text-decoration: none;
    background: #474949;
    cursor: pointer;
    padding: 0.7em;
    font-size: 0.9em;
    border-radius: 5px;
    border: none;
}

.revision-history-revert a{
    margin-left: 0.8em;
    background: #681030;
}

.current .revision-history-revert a{
    background: #D8C6CD;
    cursor: default;
}

#preview-display-box{
    display: none;
}

@media only screen and (max-width: 769px){
    div.container{
        width: 95%;
    }
    ol.history-list{
        width: 90%;
    }
    .history-header{
        margin-left: 5%;
    }
}
