.container {
    width: 70%;
    min-width: 600px;
    margin-top: 2em;
    padding-bottom: 3em;
    margin: 2em auto;
    font: 16px Helvetica, arial, freesans, clean, sans-serif;
    color: #23240D;
}

.aux-info{
    font-style: italic;
}

.title {
    font-size: 2.2em;
    font-weight: bold;
    margin-bottom: 0.4em;
}

.edit-link a{
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
}

.author, .audience {
    font-size: 1em;
    padding-bottom: 0.3em;
}

.content {
    font-family: Arial, sans-serif;
    font-size: 1.0em;
    overflow: hidden;
    color: #23240D;
    line-height: 1.4em;
}

.content p {
    padding: 0.1em 0;
}

.content h1 {
    font-weight: bold;
    font-size: 2em;
    margin-top: 1.3em;
    margin-bottom: 0.4em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #eee;
}

.content h2 {
    font-weight: bold;
    font-size: 1.8em;
    margin-top:  1.3em;
    margin-bottom: 0.4em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #eee;
}

.content h3 {
    font-weight: bold;
    font-size: 1.6em;
    margin-top: 1.3em;
    margin-bottom: 0.4em;
    margin-bottom: 0.4em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #eee;
}

.content ul {
    list-style: none;
    margin-left: 1em;
    padding-left: 0;
}

.content li {
    padding-left: 1em;
    text-indent: -1em;
    margin-bottom: 0.2em;
}

.content li:before {
    content: "+";
    padding-right: 5px;
}

.content ul ul {
    margin-left: 1em;
    margin-bottom: 1em;
}

.content ul ul li:before {
    content: "-";
    padding-right: 5px;
}

.content a{
    color:#2B7536;
    text-decoration: none;
}

.content a:hover{
    text-decoration: underline;
    color: #2414B0;
}


.form-wrapper {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    padding-bottom: 3em;
}

.form-title {
    font-size: 1.8em;
    padding-bottom: 0.5em;
}

.form-field{
    margin-bottom: 1.5em;
}

.form-field label{
    font-size: 0.9em;
    font-weight: bold;
    color: #333;
    width: 20%;
    float: left;
    margin-top: 0.5em;
    text-align: right;
    margin-right: 1em;
}

.form-field input{
    height: 1.4em;
    padding-left: 0.3em;
    font-size: 1em;
    width: 40%;
}

.body-button-outer-wrapper {
    width: 100%;
}

.body-button-wrapper{
    float: left;
    padding-bottom: 1em;
}

.buttons{
    float: right;
}

#preview-button, #submit-button{
    font-size: 1.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

#preview-button{
    background-color: #009;
    color: white;
}

#submit-button{
    background-color: #905;
    color: white;
}

#preview-area{
    clear: both;
}