/* -----------------------------------*/
/* ---------->>> GLOBAL <<<-----------*/
/* -----------------------------------*/

body {
    margin: 0;
    padding: 0;
    border: 0; /* removes the border around the viewport in old versions of IE */
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    font-size: 1.0em;
}

h1 {
    margin-top: 1em;
}

p {
   padding: 0.1em 0;
}

/* ---------------------------------------------------*/
/* ---------->>> General Functional Styles<<<---------*/
/* ---------------------------------------------------*/

.external-link{
    font-size: 1em;
    color:#2B7536;
    text-decoration: none;
}
.external-link:hover{
    color:#14330E;
    text-decoration: underline;
}

.internal-link, .focus-link{
    color: #A01F70;
    text-decoration: none;
}
.internal-link:hover, .focus-link:hover{
    text-decoration: underline;
    color: #2414B0;
}

a.expand-collapse-link{
    font-size: 0.8em;
    color:#190797;
}
a.expand-collapse-link:hover{
    color: #190797;
}

.placeholder
{
  color: #aaa;
}

.underline{
    text-decoration: underline;
}

/* ---------------------------------------------------*/
/* ---------->>> Layout Styles <<<--------------------*/
/* ---------------------------------------------------*/
.noscript-alert{
    width: 100%;
    height: 100%;
    background-color: #EAF05B;
    line-height: 1.5em;
    text-align: center;
    font-size: 1.1em;
}

.header-bar {
    height: 1.6em;		 
    width: 100%;
    background: #333;
    position: relative;
    z-index: 10;
    text-align: right;
    min-width: 600px;
}

#header-search-input, user-form-field input{
    outline: none;
    display: inline-block;
    padding: 0.2ex 0.4ex;
    margin-top: 0.3ex;
    border: 1px solid #999999;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
    background-color: white;
    border-radius: 2px;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
    -ms-box-sizing: border-box; /* IE */
    box-sizing: border-box;
    width: 15em;
}
#header-search-input:focus, .user-form-field input:focus{
    border-color: #501644;
    box-shadow: inset 3px 3px 4px rgba(0,0,0,0.075);
}

#header-search-input:hover, .user-form-field input:hover{
    box-shadow: inset 3px 3px 4px rgba(0,0,0,0.075);
}

.header-el{
    line-height: 1.6em;
    display: inline-block;
    letter-spacing: 1px;
}

.header-el li{
    display: inline;
    padding: 0 0.5em;
}

.header-el a{
    color: white;
    font-size: 0.8em;
    text-decoration: none;
}
.header-el a:hover{
    text-decoration: underline;
}

.header-img{
    vertical-align: middle;
    padding-left: 0.1em;
    padding-bottom: 0.2em;
}

#header-search-img-el{
    text-align: left;
    float: left;
    padding-left: 0.2em;
}

#header-user-tools{
    text-align: right;
    color: white;
    margin-left: 1.5em;
}

#header-user-tools a{
    color: white;
    text-decoration: none;
    padding: 0 0.2em;
}

#header-user-tools a:hover{
    text-decoration: underline;
}


#main {
    clear: both;
    width: 100%;
    height: 100%;
    background: white;
    color: #333;
}

