/* -----------------------------------*/
/* ---------->>> GLOBAL <<<-----------*/
/* -----------------------------------*/

body {
    margin: 0;
    padding: 0;
    border: 0; /* removes the border around the viewport in old versions of IE */
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    font-size: 1.0em;
}

h1 {
    margin-top: 1em;
}

h2 {
    line-height: 0;
    font-size: 1.3em;
    font-style: italic;
    margin-bottom: 1em;
}

p {
    margin: 0.1em 0;
}

/* ---------------------------------------------------*/
/* ---------->>> General Functional Styles<<<---------*/
/* ---------------------------------------------------*/

.external-link{
    font-size: 1em;
    color:#2B7536;
    text-decoration: none;
}
.external-link:hover{
    color:#14330E;
    text-decoration: underline;
}

.internal-link{
    color: #5C1F63;
    text-decoration: none;
}
.internal-link:hover{
    text-decoration: underline;
    color: #241494;
}

a.expand-collapse-link{
    font-size: 0.8em;
    color:#190797;
}
a.expand-collapse-link:hover{
    color: #190797;
}

.placeholder
{
  color: #aaa;
}

/* ---------------------------------------------------*/
/* ---------->>> Layout Styles <<<--------------------*/
/* ---------------------------------------------------*/

/* #header-wrapper{ */
/*     display: table; */
/*     width: 100%; */
/* } */

.header-bar {
    height: 1.6em;		 
    width: 100%;
    background: #333;
    overflow: hidden;
    font-size: 1.1em;
    position: relative;
    z-index: 1000;
    display: table;
}

.header-content-wrapper{
    display: table-row;
    height: 100%;
}

#header-search-input{
    outline: none;
    display: inline-block;
    padding: 0.2ex 0.3ex;
    margin-top: 0.3ex;
    border: 1px solid #999999;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
    background-color: white;
    border-radius: 2px;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
    -ms-box-sizing: border-box; /* IE */
    box-sizing: border-box;
}
#header-search-input:focus{
    border-color: #501644;
    box-shadow: inset 3px 3px 4px rgba(0,0,0,0.075);
}

#header-search-input:hover{
    box-shadow: inset 3px 3px 4px rgba(0,0,0,0.075);
}

.header-el{
    display: table-cell;
    vertical-align: middle;
}

.header-img{
    vertical-align: middle;
    padding-left: 0.1em;
}

#header-search-img-el{
    min-width: 14em;
    width: 30%;
}

#header-user-tools{
    minwidth: 14em;
    width: 30%;
    text-align: right;
    font-size: 0.72em;
}
/* /\* so element within the header can be vertically centered *\/ */
/* .header-inner-wrap{ */
/*     height: 100%; */
/*     width: 100%; */
/*     display: table-cell; */
/* } */

#main {
    clear: both;
    width: 100%;
    height: 100%;
    background: white;
    color: #333;
}

