h1{
    margin: 0.5em 0;
    font-size: 1.7em;
    color: #33072F;
    font-weight: bold;
}

h2{
    margin-top: 1em;
    font-size: 1.1em;
    font-weight: bold;
}

.user-profile{
    margin: 0 3%;
}

.user-account-info li{
    padding: 0.3em 0;
}

.no-content-message{
    font-size: 0.9em;
    font-style: italic;
}

.list-concepts-li{
    font-size: 1.1em;
    line-height: 1.5em;
}

.user-subsec{
    margin: 0.3em 2em;
}