{% extends "user_management/login.html" %}

{% block headtitle %} Metacademy Registration {% endblock %}

{% block form-content %}
<div class="user-form-field">
  {{ form.username.label_tag }}
  {{ form.username }}
  {% if form.username.errors %}
  <div class="form-errors">
    {{form.username.errors}}
  </div>
  {% endif %}
</div>

<div class="user-form-field">
  {{ form.email.label_tag }}
  {{ form.email }}
  {% if form.email.errors %}
  <div class="form-errors">
    {{form.email.errors}}
  </div>
  {% endif %}

</div>

<div class="user-form-field">
  {{ form.password1.label_tag }}
  {{ form.password1 }}
  {% if form.password1.errors %}
  <div class="form-errors">
    {{form.password1.errors}}
  </div>
  {% endif %}

</div>

<div class="user-form-field">
  {{ form.password2.label_tag }}
  {{ form.password2 }}
  {% if form.password2.errors %}
  <div class="form-errors">
    {{form.password2.errors}}
  </div>
  {% endif %}
</div>

<div class="user-form-field">
  <label for="id_password2">I agree to the <a target="_blank" href="/terms" class="internal-link">Terms of Use</a>:</label>
  {{ form.tou }}
  {% if form.tou.errors %}
  <div class="form-errors">
    {{form.tou.errors}}
  </div>
  {% endif %}
</div>

<div class="user-form-field">
  <label for="id_captcha_1"> Solve this problem</label>
  <div class="captcha-wrapper">
    {{ form.captcha }}
  </div>
  {% if form.captcha.errors %}
  <div class="form-errors">
    {{form.captcha.errors}}
  </div>
  {% endif %}

</div>

{% endblock %}    

{% block button-text %}"create account"{% endblock %}
