a {
  text-decoration: none;
  color: #50094A;
}

a:hover {
    color: #690259;
    text-decoration: underline;
}

#main {
    overflow-x: hidden;
}

#main-search-wrap {
    width: 80%;
    margin: auto;
}

#main-search-input {
    width: 100%;
    display: block;
    padding: 0.2ex 1ex;
    margin-top: 0.3em;
    height: 28px;
    font-size: 13px;
    outline: none;
    border: 1px solid #999999;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
    background-color: white;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
    -ms-box-sizing: border-box; /* IE */
    box-sizing: border-box;
}
#main-search-input:focus{
    border-color: #501644;
    box-shadow: inset 3px 3px 4px rgba(0,0,0,0.075);
}
#main-search-input:hover{
   box-shadow: inset 3px 3px 4px rgba(0,0,0,0.075);
}

/* Main Logo */
#main-logo-wrap {
    padding: 3rem 0;
    text-align: center;
}

#main-logo {
    max-width: 600px;
    width: 95%;
}

#tagline {
   font-family: "Bad Script", sans-serif;
   font-size: 1.4rem;
   margin-top: -0.5rem;
   position: relative;
   top: -24px;
   left: 95px;
}

.dev-update {
    font-weight: bold;
}

.ac-list {
    top: 28px;
}

.db-search-wrap {
    display: block;
}

/* qblocks */

.qblock-wrap {
    margin: auto;
}

.qblock {
    height: 7rem;
    text-align: center;
    border: 1px solid #999999;
    border-radius: 5px;
    margin-bottom: 3rem;
}

.qblock header {
    font-size: 1.8rem;
    color: #555555;
    margin-top: 1rem;
    margin-bottom: 0.6rem;
}

.qblock-tl, .qblock-bl {
    margin-left: 8%;
    margin-right: 2%
}

.qblock-tr, .qblock-br {
    margin-left: 2%;
    margin-right: 8%;
}

.qblock-bl, .qblock-br {
    height: 11rem;
}

#browse-by-topic {
    width: 32%;
}

.main-nav-link {
    text-decoration: none;
    font-size: 1.5rem;
}

.main-nav-link i {
    margin: auto;
}

.info-list {
    font-size: 1.3em;
    line-height: 1.4em;
}

.browse-list {
    font-size: 1.3em;
    line-height: 1.4em;
}

#sign-in {
    background-color: white;
    position: absolute;
    right: 10%;
    top: 1em;
    font-size: 0.9em;
}

#feedback {
    font-size: 0.9em;
    bottom: 1.5em;
    text-align: center;
    display: block;
}


/* media */

@media only screen and (max-width: 767px){
    .qblock {
        width: 80%;
        margin: 0 0 2rem 10%;
    }

    #tagline {
        top: 0;
        left: 0;
    }
}
