/* -----------------------------------*/
/* ---------->>> GLOBAL <<<-----------*/
/* -----------------------------------*/

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #333333;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 1.0em;
    background: rgb(255, 255, 255);
}

h1 {
    margin-top: 1em;
}

p {
   padding: 0.1em 0;
}

input{
    font-size: 75%;
    font-family: "Lucida Grande" arial sans-serif;
}

/* ----------------------------------------------------*/
/* ---------->>> Pure CSS Customizations <<<-----------*/
/* ----------------------------------------------------*/
.header-menu{
    font-size: 100%;
    margin: 0;
    line-height: 1em;
    color: #ECECEC;
}

.header-menu ul li{
    display: inline-block;
}

.header-menu header-menu >ul{
    height: 1.8em;
}

.header-menu a.header-a{
    color: #EFEFEF;
    font-size: 0.9em;
    text-decoration: none;
    padding: 0 1em;
    line-height: 1.8em;
    display: inline-block;
}

.header-menu a.header-a:hover{
    text-decoration: underline;
}

.header-menu  a.header-a.heleft{
    padding-right: 0.2em;
}

.header-menu  a.header-a.heright{
    padding-left: 0.2em;
}

.header-pull-right {
    display: table;
}
.header-pull-right > ul, .header-menu > ul{
    display: table-cell;
    vertical-align: middle;
}
.header-pull-right > ul {
    text-align: right;
}

.header-title{
    display: table-cell;
    min-width: 25em;
    vertical-align: middle;
}

#mobile-header {
    display: none;
}

#mobile-header button{
    border: none;
    background: #666;
    padding: 0.2em 1em;
    color: #ECECEC;
    border: 1px #302C2C solid;
}

.sidr ul li.sidr-class-join-line{
    display: none;
}

.sidr-class-home-nav{
    display: none;
}

#sidr-id-header-search-input{
    display: none;
}

#sidr-id-mobile-header{
    display: none;
}

#sidr-id-meta-heading-search {
    display: none;
}

.sidr-class-ac-list li.sidr-class-ac-hidden {
    display: none;
}
a.sidr-class-ac-li-a {
    display: none;
}

#responsive-menu-button{
    font-size: 100%;
}


/* ---------------------------------------------------*/
/* ---------->>> General Functional Styles<<<---------*/
/* ---------------------------------------------------*/

.external-link{
    font-size: 1em;
    color: #068519;
    text-decoration: none;
}
.external-link:hover{
    color: #041F63;
    text-decoration: underline;
}


.internal-link, .focus-link{
    color: #A01F70;
    text-decoration: none;
}
.internal-link:hover, .focus-link:hover{
    text-decoration: underline;
    color: #690259;
}

.missing-link{
    color: #BBBB70;
    text-decoration: none;
}
.missing-link:hover{
    color: #666620;
    text-decoration: underline;
}

a.expand-collapse-link{
    font-size: 0.8em;
    color:#190797;
}
a.expand-collapse-link:hover{
    color: #190797;
}

.placeholder
{
  color: #aaa;
}

.underline{
    text-decoration: underline;
}

/* ---------------------------------------------------*/
/* ---------->>> Layout Styles <<<--------------------*/
/* ---------------------------------------------------*/
.noscript-alert{
    width: 100%;
    height: 100%;
    background-color: #EAF05B;
    line-height: 1.5em;
    text-align: center;
    font-size: 1.1em;
}

#header {
    background: #333;
    z-index: 10;
    position: relative;
    width: 100%;
}

#meta-heading-search{
    padding: 0;
}

.meta-home-link{
    margin-left: 0.2em;
    padding: 0.3em 0 0.5em 110px;
    background-image: url('/static/images/metacademy-toolbar-icon1.png');
    background-repeat: no-repeat;
    background-position: left center;
    height: 1.7em;
}

a.home-nav{
    display: inline;
    padding: 0;
}

#header-search-input {
    height: 1.8em;
}

#header-search-input, user-form-field input{
    outline: none;
    padding: 0.2ex 0.4ex;
    /* margin-top: 0.3ex; */
    border: 1px solid #999999;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
    background-color: white;
    border-radius: 2px;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
    -ms-box-sizing: border-box; /* IE */
    box-sizing: border-box;
    width: 16em;
}
#header-search-input:focus, .user-form-field input:focus{
    border-color: #501644;
    box-shadow: inset 3px 3px 4px rgba(0,0,0,0.075);
}

#header-search-input:hover, .user-form-field input:hover{
    box-shadow: inset 3px 3px 4px rgba(0,0,0,0.075);
}

#main {
    width: 100%;
    height: 100%;
    color: #333;
}

.dev-note{
    margin-top: 1em;
    line-height: 1.2em;
    font-size: 0.9em;
    text-align: center;
    font-style: italic;
    color: #512161;
}

.dev-note p{
    padding: 0.1em 0.7em;
}



/* -----------------------------------*/
/* --->>> Search/Autocomplete <<------*/
/* -----------------------------------*/
.search-container {
  position: relative;
  height: 2em;
  color: #333;
}

.search-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 2em;
  width: 2em;
  z-index: 11;
  cursor: pointer;
}

.search-input:focus ~ .search-button .bg {
  fill: #501644;
}

.search-button:hover .bg {
  fill: #501644;
}

.search-input {
  z-index: 10;
  position: absolute;
  border-radius: 0px;
  background-color: #ffffff;
  border: 1px solid #BABDC0;
  display: block;
  font-size: 70%;
  padding-left: .5em;
  margin: 0;
  height: 100%;
}

.search-input:focus {
  outline: none;
  border-color: #501644;
}

.search-container, .search-input, .search-button, .ac-list, .ac-li, .ac-li-a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.db-search-wrap {
    position: relative;
    display: inline-block;
    font-size: 0.9em;
}

.ac-list {
  padding: 0;
  margin: 0;
  position: absolute;
  width: inherit;
  top: 2em; /* must match the container height */
  border: 1px solid #BABDC0;
  border-width: 0 1px 1px 1px;
  border-bottom: 1px solid #BABDC0;
  background-color: #ffffff;
  z-index: 9;
}

.header-menu .ac-list {
    top: 1.4em;
}

.ac-hidden, .header-menu ul li.ac-hidden {
  display: none;
}

.ac-li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #501644;
  vertical-align:middle;
  text-decoration: none;
  text-align: left;
  width: 100%;
}

.ac-li-a {
  color: #A01F70;
  text-decoration: none;
  margin: 0;
  padding: 0.3em 0;
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -1.5em;
  padding-left: 2em;
}

.ac-li-a:hover {
  background-color: #F5E8F2;
  color: #690259;
}

.ac-li-a:focus {
  background-color: #F5E8F2;
  color: #690259;
  outline: none;
}

/* -----------------------------------*/
/* ---------->>> Grid System  <<------*/
/* -----------------------------------*/
[class*='col-'] {
  float: left;
}

.col-2-3 {
  width: 66.66%;
}
.col-1-2 {
  width: 50%;
}
.col-2-5 {
  width: 40%;
}
.col-1-3 {
  width: 33.33%;
}
.col-1-4 {
  width: 25%;
}
.col-1-8 {
  width: 12.5%;
}

/* .grid:after { */
/*   content: ""; */
/*   display: table; */
/*   clear: both; */
/* } */

/* .grid-pad { */
/*   padding: 20px 0 20px 20px; */
/* } */

/* .grid-pad > [class*='col-']:last-of-type { */
/*   padding-right: 20px; */
/* } */

/* [class*='col-'] { */
/*   padding-right: 20px; */
/* } */
/* [class*='col-']:last-of-type { */
/*   padding-right: 0; */
/* } */


/* -----------------------------------*/
/* ---------->>> Media Rules  <<------*/
/* -----------------------------------*/
@media only screen and (max-width:999px){
    #header-search-input{
        width: 14em;
    }
    .header-title{
        min-width: 19em;
    }
}

@media only screen and (max-width:899px){
    #mobile-header {
        display: table-cell;
        vertical-align: middle;
        direction: rtl;
        padding-right: 1em;
    }

    #header > ul{
        display: none;
    }
    #header{
        height: 1.85em;
    }
}

@media only screen and (max-width: 767px){
    .meta-home-link{
        padding: 0.5em 0 0.5em 35px;
        background-image: url('/static/images/metacademy-toolbar-icon1-crop.png');
        background-repeat: no-repeat;
        background-position: left center;
        height: 1.7em;
    }
    .header-title{
        min-width: 0;
    }

    div.dev-note{
        margin-top: 1em;
    }
    .dev-note p{
        margin-top: 1em;
    }
}
