<script type="text/template" id="node-detail-view-template">
  <h1><%- displayTitle %>
    <div class="detailed-title-tools">
      <span class="learn-view-check" data-tag="<%= id %>"> <i class="icon ion-checkmark-circled"></i> </span>
      <span class="learn-view-star" data-tag="<%= id %>"> <i class="icon ion-star"></i></span>
    </div>
  </h1>

  <div class="detail-time-est">
    <% if (time) { %>
        <span class="info-text">(<%- time %> to learn)</span>
    <% } else{ %>
    <% } %>
  </div>


    <h2 class="node-detail-title">Summary</h2>
    <div class="node-detail-comp-wrap node-detail-summary-text">
      <%= summary.length ? summary : '<span class="no-content-msg">-No Summary-</span>'%>
    </div>

    <% if (notes.length > 0){ %>
      <h2 class="node-detail-title">Notes</h2>
      <div class="node-detail-comp-wrap node-detail-flags">
        <% for (var i = 0; i < notes.length; i++){ %>
          <p> <%= notes[i] %> </p>
        <% } %>
      </div>
    <% } %>

    <h2 class="node-detail-title">Context</h2>
    <div class="node-detail-comp-wrap">
    <% if (dependencies.length > 0) { %>
      <p>This concept has the prerequisites:</p>
      <ul class="node-detail-comp-wrap dep-wrap" id="node-detail-deps-<%- id %>"></ul>
    <% } else { %>
      <p class="no-content-msg">-this concept has no prerequisites-</p>
    <% } %>

    <% if (neededFor.length > 0) { %>
      <p>This concept is needed for:</p>
      <ul class="node-detail-comp-wrap outlinks-wrap" id="node-detail-outlinks-<%- id %>"></ul>
    <% } %>
    </div>

    <% if (goals.length > 0) { %>
      <h2 class="node-detail-title">Goals</h2>
      <div class="node-detail-comp-wrap goals-wrap" id="node-detail-goals-<%- id %>">
        <% goals.each(function(goal){ %>
           <%= goal.getParsedText() %>
         <% }); %>
      </div>
    <% } %>

    <div class="resources-wrap" id="node-detail-resources-<- id %>"></div>


    <h2 class="node-detail-title">See also</h2>
    <div class="node-detail-comp-wrap pointers-wrap" id="node-detail-anotes-<%- id %>">
      <%=  this.parsedPointers || '<span class="no-content-msg">-No Additional Notes-</span>' %>
    </div>


</script>

<script type="text/template" id="node-detail-resource-template">

</script>
