<script type="text/template" id="node-detail-view-template">
  <div id = "node-detail-summary-<%- id %>">
    <h2 class="node-detail-title">Summary</h2>
    <div class="node-detail-comp-wrap node-detail-summary-text">
      <%= summary.length ? summary : '<span class="no-content-msg">-No Summary-</span>'%>
    </div>
    <div class="node-detail-comp-wrap node-detail-shortcut-note">
      <% if (is_shortcut){ %>
        <p>This is a shortcut node, which introduces you to the very basics of the concept. You can find the more comprehensive version <a class="internal-link" href="<%= id + '#lfocus=' + id %>">here</a>.</p>
      <% } %>
    </div>
    <div class="node-detail-comp-wrap node-detail-flags">
      <% if (flags){ %>
        <% for (var i = 0; i < flags.length; i++){ %>
          <p> <%- flags[i] %> </p>
        <% } %>
      <% } %>
    </div>

    <h2 class="node-detail-title">Context</h2>

    <% if (dependencies.length > 0) { %>
      <div class="node-detail-comp-wrap">This concept has the prerequisites:</div>
      <div class="node-detail-comp-wrap dep-wrap" id="node-detail-deps-<%- id %>"></div>
    <% } else { %>
      <div class="node-detail-comp-wrap">This concept has no prerequisites.</div>
    <% } %>

    <% if (neededFor.length > 0) { %>
      <div class="node-detail-comp-wrap">This concept is needed for:</div>
      <div class="node-detail-comp-wrap outlinks-wrap" id="node-detail-outlinks-<%- id %>"></div>
    <% } %>

    


    <h2 class="node-detail-title">Resources</h2>
    <div class="node-detail-comp-wrap node-detail-resources-note" id="node-detail-resources-note-<%- id %>"> <%- resourcesMsg %> </div>
    <div class="resources-wrap">
      
      <h2 class="node-detail-title">Free Resources</h2>
      <div class="node-detail-comp-wrap free-resources-wrap" id="node-detail-fresources-<%- id %>">
        <span class="no-content-msg">-No Free Resources-</span>
      </div>

      <h2 class="node-detail-title">Paid Resources</h2>
      <div class="node-detail-comp-wrap paid-resources-wrap" id="node-detail-presource-<%- id %>">
        <span class="no-content-msg">-No Paid Resources-</span>
      </div>
      
    </div>
    



    <h2 class="node-detail-title">See also</h2>
    <div class="node-detail-comp-wrap pointers-wrap" id="node-detail-anotes-<%- id %>">
      <%= pointers.length > 1 ? "" : '<span class="no-content-msg">-No Additional Notes-</span>' %>
    </div>

    
  </div>
</script>

<!-- see wiki for attributes and think about future changes and how these could be propagated -->
<script type="text/template" id="node-detail-resource-template">
  
</script>
