<script type="text/template" id="resource-view-template">
  <div class="resource-title-display">
    <% var titleDisp = title ? title : "-no title-" %>
    <% titleDisp = (mark ? (mark.indexOf("star") > -1 ? '<span class="key-resource-star">&#9734;</span>' : "") : "") + titleDisp %>
    <% if (url){ %>
    <span class="resource-link"> <a class="external-link" href="<%= url %>"> <%= titleDisp %> </a> </span>
    <% } else{ %>
    <%= titleDisp %>
    <% } %>
  </div>

  

  <% if (authors.length > 1) { %>
    <span class="resource-author"> Authors: <%= authors %> </span>
  <% } else if (authors.length == 1) { %>
    <span class="resource-author"> Author: <%= authors[0] %> </span>
  <% } %>

  <div class="resource-level-display">
  <% if (level){ %>
    <span class="resource-level"> Level: <%= level %> </span>
    <% } %>
  </div>
  
 
  <% if (location){ %>
    <div class="resource-location-display">
      <% if (edition){ %>
        <span class="resource-location"> Location (edition <%- edition %>): </span>
      <% } else { %>
        <span class="resource-location"> Location: </span>
      <% } %>
      <ul>
        <% for (var i = 0; i < location.length; i++) { %>
          <li><span class="resource-location-item"> <%- location[i] %> </span></li>
        <% } %>
      </ul>
    </div>
  <% } %>

  <% if (dependencies.length > 0) { %>
    <div class="resource-dependencies-display">
      <span class="resource-dependencies"> Additional dependencies:</span>
      <ul>
        <% for (var i = 0; i < dependencies.length; i++) { %>
          <li><span class="resource-dependencies-item">
	    <a class="internal-link" href="<%= GRAPH_CONCEPT_PATH + dependencies[i].link + '#lfocus=' + dependencies[i].link %>"> <%- dependencies[i].title %> </a>
	  </span></li>
        <% } %>
      </ul>
    </div>
  <% } %>

   <% if (extra.length > 0){ %>
    <div class="resource-extra-display">
      <span class="resource-extra"> Other notes: </span>
        <ul>
          <% for (var i = 0; i < extra.length; i++ ){ %>
            <li><span class="resource-extra-item"> <%= extra[i] %> </span></li>
          <% } %>
        </ul>
      </li>
    </div>
  <% } %>



</script>
