<script type="text/template" id="resources-section-view-template">
  
  <h2 class="node-detail-title">Core resources
    <% if (coreResources.length > 0) { %>
    <span class="info-text">(read/watch one of the following)</span>
    <% } else { %>
      <span class="info-text">(we're sorry, we haven't finished tracking down resources for this concept yet)</span>
    <% } %>

</h2>
  <div class="node-detail-comp-wrap">
      <% if (freeCoreResources.length > 0) { %>
        <h2 class="node-detail-subtitle">-Free-</h2>
        <div class="node-detail-comp-wrap free-core-resources-wrap" id="node-detail-fcresources-<%- id %>" />
      <% } %>
      <% if (freeSignupCoreResources.length > 0) { %>
        <h2 class="node-detail-subtitle">-Free but requires signup-</h2>
        <div class="node-detail-comp-wrap free-signup-core-resources-wrap" id="node-detail-scresources-<%- id %>" />
      <% } %>
      <% if (paidCoreResources.length > 0) { %>
        <h2 class="node-detail-subtitle">-Paid-</h2>
        <div class="node-detail-comp-wrap paid-core-resources-wrap" id="node-detail-pcresources-<%- id %>" />
      <% } %>
  </div>

  <% if (suppResources.length > 0) { %>
  <h2 class="node-detail-title">Supplemental resources
      <span class="info-text">(the following are optional, but you may find them useful)</span>
</h2>
    <div class="node-detail-comp-wrap">
      <% if (freeSuppResources.length > 0) { %>
        <h2 class="node-detail-subtitle">-Free-</h2>
        <div class="node-detail-comp-wrap free-supp-resources-wrap" id="node-detail-fsresources-<%- id %>" />
      <% } %>
      <% if (freeSignupSuppResources.length > 0) { %>
        <h2 class="node-detail-subtitle">-Free but requires signup-</h2>
        <div class="node-detail-comp-wrap free-signup-supp-resources-wrap" id="node-detail-ssresources-<%- id %>" />
      <% } %>
      <% if (paidSuppResources.length > 0) { %>
        <h2 class="node-detail-subtitle">-Paid-</h2>
        <div class="node-detail-comp-wrap paid-supp-resources-wrap" id="node-detail-psresources-<%- id %>" />
      <% } %>
    </div>
  <% } %>
</script>


    
