{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    {% block meta %}
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {% endblock %}

    {% block targetblank %}
    <base target="_blank">
    {% endblock %}

    {% block css %}
    <link rel="stylesheet" href="{% static "css/reset.css" %}"/>
    <link rel="stylesheet" href="{% static "css/standard.css" %}"/>
    {% endblock %}

    {% block extra-css %}
    {% endblock %}

    <title> {% block title %}Metacademy{% endblock %}</title>

    {% endblock %}
  </head>

  <body>
    {% block body %}

    <div class="header-bar">
      <div class="header-content-wrapper">
	{% block header %}
	<div class="header-el">
	  <a href="/" target="_self">
	    <img class="header-img" src="{% static "images/metacademy-toolbar-icon1.png" %}" alt="metacademy logo link">
	  </a>
	</div>

	<div class="header-el">
	  <input type="text" id="header-search-input" class="searchbox" placeholder="search" value="{% block search-text %}{% endblock %}" autocomplete="off" autocapitalize="off" tabindex="1" spellcheck="off">
	</div>

	{% endblock %}
      </div>
    </div>


    <div id="main">
      {% block main %}

      {% endblock %}
    </div>

    {% block hackscript %}
    <script type="text/javascript">
      // current hack for multiple development environments will change for server
      window.CONTENT_SERVER = "{{ content_server }}";
      window.GRAPH_CONCEPT_PATH = "{% url 'graphs:concepts' %}";
    </script>
    {% endblock %}

    {% block jscript %}
    {% endblock %}

    {% endblock %}
  </body>
</html>          





