{% extends "base_form.html" %}

{% block form-content %}
<div class="user-form-field">
  {{ form.username.label_tag }}
  {{ form.username }}
  {% if form.username.errors %}
  <div class="form-errors">
    {{form.username.errors}}
  </div>
  {% endif %}
</div>

<div class="user-form-field">
  {{ form.password.label_tag }}
  {{ form.password }}
  {% if form.password.errors %}
  <div class="form-errors">
    {{form.password.errors}}
  </div>
  {% endif %}

</div>
{% endblock %}

{% block button-text %}"login"{% endblock %}

{% block post-form-text %}
<div class="forgot-pw-link">
     <a href="{% url "user:password_reset" %}">forgot your username/password?</a>
</div>
{% endblock %}

