{% extends "user_management/base_form.html" %}

{% block headtitle %}Metacademy Password Reset{% endblock %}

{% block form-content%}
{% if validlink %}
<div class="user-form-field">
  {{ form.new_password1.label_tag }}
  {{ form.new_password1 }}
  {% if form.new_password1.errors %}
  <div class="form-errors">
    {{form.new_password1.errors}}
  </div>
  {% endif %}
</div>

<div class="user-form-field">
  {{ form.new_password2.label_tag }}
  {{ form.new_password2 }}
  {% if form.new_password2.errors %}
  <div class="form-errors">
    {{form.new_password2.errors}}
  </div>
  {% endif %}
</div>



{% else %}

<p>The password reset link was invalid, possibly because it has already been used. Please <a href="{% url "user:password_reset" %}">request a new password reset</a>.</p>

{% endif %}

{% block submit-button %}
<div class="submit-field" {% if not validlink %}style="display: none;"{% endif %}>
  <input type="submit" value={% block button-text %}"change password"{% endblock %} />
</div>
{% endblock %}

{% endblock %}
