{% extends "user_management/base_form.html" %}

{% block headtitle %}Metacademy Password Reset{% endblock %}

{% block formaction %}
"{% url django.contrib.auth.views.password_reset %}"
{% endblock %}

{% block form-content %}
<div class="user-form-field">
  <label for="email-input"> Please enter your email:</label>
  <input type="email" name="email" id="email-input">
  {% if form.email.errors %}
    <div class="form-errors">
      {{form.email.errors}}
    </div>
  {% endif %}

</div>
{% endblock %}

{% block button-text %}"Send password-reset email"{% endblock %}
