{% extends "roadmap-base.html" %}
{% load staticfiles %}

{% block extra-css %}
<link rel="stylesheet" href="{% static "css/roadmap.css" %}"> </rel>
<link rel="stylesheet" href="{% static "css/lib/colorbox.css" %}" media="screen" />
{% endblock %}

{% block jscript-extend %}
<script src="{% static "javascript/lib/jquery.colorbox-min.js" %}"></script>
<script src="{% static "javascript/roadmap-history.js" %}"></script>
{% endblock %}

{% block roadmap-content %}
  {% include "reversions.html" %}
{% endblock %}
