{% extends "roadmap-base.html" %}
{% load staticfiles %}

{% block extra-css %}
<link rel="stylesheet" href="{% static "css/roadmap.css" %}" />
<link rel="stylesheet" href="{% static "css/lib/colorbox.css" %}" media="screen" />
<link rel="stylesheet" href="{% static "css/roadmap-markdown-editor.css" %}" />
{% endblock %}

{% block jscript-extend %}
<script src="{% static "javascript/lib/jquery.colorbox-min.js" %}"></script>
<script src="{% static "javascript/roadmap-markdown-editor.js" %}"></script>
<script type="text/javascript" src="{% static "javascript/roadmap-edit.js" %}"></script>
{% endblock %}

{% block roadmap-content %}

<div class="form-wrapper">
  {% if not can_edit %}
  <div class="no-edit-inform">
    Note: your changes to this roadmap will not be saved (you're not on the editor list),
  </div>
  {% endif %}

  <form method="post" action="">
    {% csrf_token %}

    {% if form.errors %}
	  <div class="form-errors">
	    {% for key, value in form.errors.items %}
	    <p>
	      {{ value }}
	    </p>
	    {% endfor %}
	  </div>
    {% endif %}

    {% block form-content %}

	  <div class="form-field">
	    {{ form.title.label_tag }}
	    {{ form.title }}
	  </div>

	  <div class="form-field">
	    {{ form.author.label_tag }}
	    {{ form.author }}
	  </div>

    <div class="form-field">
      {{ form.audience.label_tag }}
      {{ form.audience }}
    </div>

    <div class="form-field">
      <label for="id_blurb">Quick Description:</label>
      {{ form.blurb }}
    </div>

    {% block settings-form %}
    {% include "settings-form-tidbit.html" %}
    {% endblock %}

    <div class="body-button-wrapper">
      <div class="form-body">
        {{ form.body }}
      </div>
      {% if can_edit %}
      <div id="edit-summary" class="form-field">
        <label for="commit-blurb">Edit Message</label>
        {{ form.commit_msg }}
      </div>
      {% endif %}
      <div class="buttons">
        <button id="preview-button"> Preview </button>
        {% if can_edit %}
        <input id="submit-button" type="submit" value="{% block form-submit-button-value %}Save{% endblock %}" onclick="this.disabled = true; this.form.submit();"/>
        {% endif %}
      </div>
    </div>

    {% endblock %}

  </form>
</div>



{% endblock %}
