{% extends "roadmap-base.html" %}
{% load staticfiles %}

{% block extra-css %}
<link rel="stylesheet" href="{% static "css/roadmap.css" %}"> </rel>
<link rel="stylesheet" href="{% static "css/colorbox.css" %}" media="screen" />
<link rel="stylesheet" href="{% static "css/ionicons.css" %}"/>
{% endblock %}

{% block jscript-extend %}
<script src="{% static "javascript/lib/jquery.colorbox-min.js" %}"></script>
<script src="{% static "javascript/roadmap-history.js" %}"></script>
{% endblock %}

{% block main %}
<h1 class="history-header">
  Revisions
</h1>

<ol class="history-list">
{% for rev in revs %}
 <li>
   <a class="internal-link" href="{% url "roadmaps:version" username tag rev.revision_id %}"> (#{{rev.revision_id}}) by {{rev.revision.user.username}} [{{rev.revision.date_created}}] </a>
   <div class="revision-history-revert">
     <a href="update_to_revision/{{rev.revision_id}}">Revert</a>
   </div>      


   <div class="revision-history-preview">
   <a class="cbox-preview" href="{% url "roadmaps:version" username tag rev.revision_id %}">Preview</a>
   </div>   

   <div class="revision-history-comment">
     {% if rev.revision.comment %}
       {{rev.revision.comment}}
     {% else %}
       (no commit message)
     {% endif %}
   </div>

   <div style="clear:both;">
   </div>
 </li>
{% endfor %}
</ol>

<div id="preview-display-box">
</div>
{% endblock %}
