{% extends "roadmap-base.html" %}
{% load staticfiles %}

{% block extra-css %}
<link rel="stylesheet" href="{% static "css/roadmap.css" %}"> </rel>
<link rel="stylesheet" href="{% static "css/colorbox.css" %}" media="screen" />
{% endblock %}

{% block jscript-extend %}
<script src="{% static "javascript/lib/jquery.colorbox-min.js" %}"></script>
<script src="{% static "javascript/roadmap-history.js" %}"></script>
{% endblock %}

{% block roadmap-content %}
<h1 class="history-header">
  Revisions
</h1>

<ol class="history-list">
{% for rev in revs %}
 <li {% if rev.object_version.object.version_num == cur_version_num%} class="current" {% endif %}>
   <a class="internal-link" href="{% url "roadmaps:version" username tag rev.revision_id %}"> (#{{forloop.revcounter0}}) by {{rev.revision.user.username}} [{{rev.revision.date_created}}] </a>

   {% if can_edit %}
   <div class="revision-history-revert">
     <a href="update_to_revision/{{forloop.revcounter0}}">Revert</a>
   </div>      
   {% endif %}

   <div class="revision-history-preview">
   <a class="cbox-preview" href="{% url "roadmaps:version" username tag forloop.revcounter0 %}">Preview</a>
   </div>   

   <div class="revision-history-comment">
     {% if rev.revision.comment %}
       {{rev.revision.comment}}
     {% else %}
       (no commit message)
     {% endif %}
   </div>

   <div style="clear:both;">
   </div>
 </li>
{% endfor %}
</ol>

<div id="preview-display-box">
</div>
{% endblock %}
