{% extends "base.html" %}
{% load staticfiles %}

{% block extra-css %}
  <link rel="stylesheet" href="{% static "css/roadmap.css" %}" />
{% endblock %}

{% block jscript-extend %}
<script type="text/javascript" src="{% static "javascript/roadmap-edit.js" %}"></script>
{% endblock %}
  
{% block main %}

  <div class="form-wrapper">
    <form method="post" action="">
      {% csrf_token %}
      <div class="form-title">{% block form_title %}Editing {{ tag }}{% endblock %}</div>
      
      {% if form.errors %}
	<div class="form-errors">
	  {% for key, value in form.errors.items %}
	    <p>
	      {{ value }}
	    </p>
	  {% endfor %}
	</div>
      {% endif %}
	
      {% block form-content %}
	
	<div class="form-field">
	  {{ form.title.label_tag }}
	  {{ form.title }}
	</div>

        {% block url_tag_field %} {% endblock %}

	<div class="form-field">
	  {{ form.author.label_tag }}
	  {{ form.author }}
	</div>

        <div class="form-field">
          {{ form.audience.label_tag }}
          {{ form.audience }}
        </div>

        <div class="form-field">
          {{ form.visibility.label_tag }}
          {{ form.visibility }}
        </div>

        <div class="form-field">
          {{ form.blurb.label_tag }}
          {{ form.blurb }}
        </div>

        <div class="body-button-wrapper">
          <div class="form-body">
            {{ form.body }}
          </div>
          
          <div class="buttons">
            <input id="preview-button" type="button" value="Preview" />
            <input id="submit-button" type="submit" value="Save" />
          </div>
        </div>

      {% endblock %}

    </form>
    
    <div id="preview-area"></div>

  </div>


  
{% endblock %}

