{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Metacademy - {{ roadmap.title|escape }}
{% endblock %}

{% block extra-css %}
<link rel="stylesheet" href="{% static "css/roadmap.css" %}"> </link>
{% endblock %}

{% block main %}
{% block roadmap-header %}
<div class="roadmap-header">
  <h1>
  {{ roadmap.title }}
  </h1>
  <div class="roadmap-header-nav">
    <a href="{{ edit_url }}">View</a>
    <a href="{{ edit_url }}">Source</a>
    <a href="{{ history_url }}">Changes</a>
  </div>
</div>
{% endblock %}

{% block roadmap-content %}

{% endblock %}

{% endblock %}
