{% extends "base.html" %}
{% load staticfiles %}

{% block extra-css %}
<link rel="stylesheet" href="{% static "css/about.css" %}"/>
<link rel="stylesheet" href="{% static "css/lib/fontello.css" %}"/>
{% endblock %}

{% block main %}
<section class="about-meta">
  <header>
    <h1>
      About Metacademy
    </h1>
    <div class="social-icons">
      <a href="https://twitter.com/meta_learning"><i class="icon-twitter"></i></a>
      <a href="https://github.com/metacademy/metacademy-application"><i class="icon-github-circled"></i></a>
    </div>
  </header>

  <div class="qa-about">

    <p>
      We have all sorts of information at our fingertips. Facts, restaurant reviews, birthdays&mdash;anything that can be explained in less than five minutes.
    </p>
    <p>
      This doesn’t just make us more efficient. It changes how we think. When you’re reading a news article on a country you’ve never heard of, you think, “I can look that up!”  When you see a mysterious item on a restaurant menu, you think, “I can look that up!”  If you’re a programmer and you encounter some cryptic error message, no fear -- you can look it up!
    </p>
    <p>
      But there are some things you can’t just look up.  What are the economic effects of quantitative easing?  What exactly did the Large Hadron Collider find?  What can we learn from genomic studies of autism?   What stops someone from stealing everyone’s Bitcoins? All of these things require a deep level of understanding even to make sense of the question. Unless you’re an expert in the subject area, or you have the time and discipline to embark on a major self-education program, you’ll probably have to settle for a superficial understanding.
    </p>
    <p>
We envision a future where whenever you hear about the LHC, autism, Bitcoin, or any of the other complexities of the modern world, you will think, “I can learn that!”  We think a world where deep understanding is at your fingertips will be less confusing, more interesting, and blessed with wise choices made by an informed public.
    </p>
  </div>

  <div class="qa-about">
    <h2 class="question">
      So how the heck do you expect to achieve this?
    </h2>
    <p>
      All the information is already out there. Professors have spent countless hours crafting high-quality courses and textbooks that present the ideas and information in a precise but accessible manner. Much of this content is even freely available. But as you, the layperson, wade your way through these educational materials, you definitely get the sense that they weren’t written for you. They were written for students in a degree program, who have the shared goal of becoming professionals in the area, and who have the shared background expected of people at their level. And courses and textbooks are bloated with  <i>everything</i> a graduate would reasonably be expected to know -- who cares if it’s relevant to your question?
    </p>
    <p>
      Every time you encounter a concept you don’t recognize, you need to go back and learn it first. Pretty soon you’re deep in dependency hell, switching between twenty tabs, trying to juggle all the prerequisites of prerequisites, wondering if any of this will actually help you towards your original goal.
    </p>
    <p>
It would be so much easier if you had a guide who could tell you exactly what you had to learn, why it’s important, and where to learn it. They’d point you to the right lecture videos or textbook sections, but also tell you which parts to focus on and which parts you can ignore.
    </p>
    <p>
      Enter Metacademy.
    </p>
    <p>
      Metacademy is built around an interconnected web of concepts, each one annotated with a short description, a set of learning goals, a (very rough) time estimate, and pointers to learning resources. The concepts are arranged in a prerequisite graph, which is used to generate a learning plan for a concept. Here are the <a href="/graphs/concepts/deep_belief_networks" class="internal-link">learning plan</a> and <a href="/graphs/concepts/deep_belief_networks#focus=deep_belief_networks&mode=explore" class="internal-link">graph</a> for deep belief nets.
    </p>
    <p>
If you’re not sure what you want to learn, check out some of our <a href="/roadmaps" class="internal-link">roadmaps</a>, which highlight the important concepts in a subject area and how they relate to each other. Or, if you want to follow more of a traditional course, check out our <a href="/course_guides" class="internal-link">course guides</a>.
    </p>
    <p>
      The graph is organized around learning goals, so that you know which aspects of each concept are important to learn. Metacademy keeps track of what you’ve already learned, so that you know where to pick up. In short, Metacademy is your “package manager for knowledge.”
    </p>
    <p>
So far, most of our content focuses on machine learning, probabilistic AI, and closely related fields, since those are our own areas of expertise. <a href="/browse" class="internal-link">Here’s</a> a listing of all of our content. Not much on the LHC or Bitcoins yet, unfortunately. But <a href="/about#help" class="internal-link">with your help</a>, we can significantly expand the content.
    </p>

    <div class="qa-about">
    <h2 class="question">
      So is this yet another online education project?
    </h2>
    <p>

      Depends what you mean by education. Metacademy educational, in that we’re trying to take complex concepts and present them in a way that makes sense to you and fits your goals. But it’s not organized around courses. Courses aren’t the only <a href="/roadmaps/rgrosse/learn_on_your_own" class="internal-link">way to learn</a>, and one of the beauties of the Internet is that it lets us experiment with other ways of presenting the material. We think the learning process is smoother, more effective, and more enjoyable if you have the flexibility follow your own interests. Your learning plan should adapt to you, not the other way around!
    </p>

  <div class="qa-about">
    <h2 class="question">
      I spent 10 minutes on this site, and I didn't <a class="external-link" href="http://torsaporsa.files.wordpress.com/2013/09/iltni.jpg">learn all the things!</a> What gives?
    </h2>
    <p>
      We don't expect Metacademy to make it <em>easy</em> to learn advanced topics&mdash;we're not sure that's even possible. Learning things on your own, without the structure of deadlines and exams, inevitably takes a bit of motivation and discipline. And Metacademy is built by mere humans, after all, so it probably has its quirks. But with any luck, it'll take a process that used to be frustrating and bewildering, and make it merely challenging&mdash;and hopefully fun and rewarding as well.
    </p>
  </div>

  <div class="qa-about">
    <h2 class="question">
      How'd you build the graph?
    </h2>
    <p>
      We wish we could claim to be a “Google for understanding,” but at the moment we’re more like the original Yahoo!  We’ve been annotating the concept graph based on our own experience. There’s been some neat work on trying to infer dependency graphs automatically, but as far as we can tell, doing it well enough that you can actually learn from it is still AI-complete.
    </p>
  </div>

<div class="qa-about">
    <h2 class="question">
      Umm, you're doing this by hand?
    </h2>
    <a id="help"></a>
    <p>
      Yes, the two of us (<a href="http://www.cs.toronto.edu/~rgrosse/" class="external-link">Roger Grosse</a> and <a href="http://obphio.us/" class="external-link">Colorado Reed</a>) have spent countless hours curating the content. But it’s not that bad. Building the graphs is fairly pleasant, and is a good way of brushing up on things you learned back in college. You can <a href="/graphs/edit/new" class="internal-link">add concepts</a> using our graph editor, or <a href="/roadmaps/new" class="internal-link">write a roadmap</a>. Our code is available <a href="https://github.com/metacademy/metacademy-application" class="external-link">on Github</a>. If you believe in the vision of a world where knowledge is accessible, these are great ways to contribute!
    </p>
  </div>
  
</section>
{% endblock %}
