{% extends "base.html" %}
{% load staticfiles %}
{% load i18n lazysignup_tags %}

{% block header %}
  <div class="user-links">
    {% if user.is_authenticated and not user|is_lazy_user %}
      <a href="{% url 'user:user_main' %}"> 
        {{ user.username }} 
      </a>
      &#124;
      <a href="{% url 'user:logout' %}">
        Sign out 
      </a>
    {% else %}
      <a href="{% url 'user:login' %}" id="sign-in">
        Sign in
      </a>
    {% endif %}
  </div>
{% endblock %}

{% block extra-css %}
    <link rel="stylesheet" href="{% static "css/landing.css" %}"/>
    <link rel="stylesheet" href="{% static "css/lib/ionicons.css"%}"/>
{% endblock %}

{% block fonts %}
    <link href="//fonts.googleapis.com/css?family=Bad%20Script&subset=latin" rel="stylesheet" type="text/css">
{% endblock %}


{% block jscript-extend %}
    <script type="text/javascript" src="{% static "javascript/landing.js" %}"></script>
{% endblock %}

{% block main %}
<div id="main-logo-wrap">
    <img id="main-logo" class="mlogo" src="{% static "images/meta-logo3-wletters.png" %}" alt="Metacademy Logo" />
  <h2 id="tagline">your package manager for knowledge</h2>
</div>

<div class="col-2-5 qblock qblock-tl">
  <header>
    Search
  </header>
  <div id="main-search-wrap">
    <div class="db-search-wrap">
      <input type="text" class="searchbox" id="main-search-input"
  placeholder="Search for concept you want to learn, e.g. b-trees" value="{% block search-text %}{% endblock %}" autocapitalize="off" tabindex="1">
    </div>
  </div>
</div>

<div class="col-2-5 qblock qblock-tr">
    <header>
    Browse
  </header>

  <div id="browse-by-topic" class="col-1-3">
    <a href="/browse" class="internal-link main-nav-link browse-list">
      <i class="ion-eye nav-icon"></i>
      By Topic
    </a>
  </div>
  <div class="col-1-3">
    <a href="/roadmaps" class="internal-link main-nav-link browse-list">
      <i class="ion-map"></i>
      Roadmaps
    </a>
  </div>
  <div class="col-1-3">
    <a href="/course_guides" class="internal-link main-nav-link browse-list">
      <i class="ion-university"></i>
      Courses
    </a>
  </div>
</div>

<div class="col-2-5 qblock qblock-bl">
  <header>
  What is Metacademy?
  </header>
  <ul class="info-list">
    <li>Read our <a class="internal-link" href="/about">philosophy</a></li>
    <li>Check out our <a class="external-link" href="https://github.com/metacademy/metacademy-application">code</a></li>
    <li>Read some <a class="external-link" href="https://twitter.com/meta_learning">tweets</a></li>
  </ul>
</div>

<div class="col-2-5 qblock  qblock-br">
  <header>
  Join the Community
  </header>
  <ul class="info-list">
    <li><a class="internal-link" href="/user/register">Create an account</a></li>
    <li><a class="internal-link" href="/graphs/edit/new">Contribute new concepts</a></li>
    <li><a class="internal-link"
  href="/roadmaps/new">Write a roadmap</a></li>
  </ul>
</div>

<div style="clear: both;"></div>
<div id="feedback">
  - 
  <a href="/feedback">
    send us a message
  <a/>
  -
    <a href="/terms">
      read our terms of use
  <a/>
  -
</div>


{% endblock %}
