{% extends "about.html" %}
{% load staticfiles %}

{% block main %}
<section class="about-meta">
  <header>
    <h1>
      Metacademy Terms of Use
    </h1>
  </header>

  <div class="qa-about">
    <h2 class="question">
      Overview
    </h2>
    <p>
    Metacademy ("we" or "us" or "our") is a community-driven,
    open-source platform for experts to collaboratively construct a
    web of knowledge. We welcome you ("you"or the "user") as a reader,
    editor, author, or contributor to Metacademy, and we encourage you
    to join the Metacademy community. Before you participate, however,
    we ask that you please read and agree to the following Terms of
    Use ("Terms of Use").
    </p>
  </div>

  <div class="qa-about">
    <h2 class="question">
      Our Services
    </h2>
    <p>
Metacademy acts only as a hosting service, maintaining the infrastructure and organizational framework that allows our users to contribute, edit and learn from our content. Because of our unique role, there are a couple of things you should be aware of when considering our relationship to you, Metacademy, and the other users:
    </p>
    <p>
    You are responsible for your own actions: You are legally responsible
    for your edits and contributions on Metacademy, so for your own
    protection you should exercise caution and avoid contributing any
    content that may result in criminal or civil liability under any
    applicable laws. For clarity, applicable law includes at least the
    laws of the United States of America. Although we may not agree
    with such actions, we warn editors and contributors that
    authorities may seek to apply other country laws to you, including
    local laws where you live or where you view or edit content. We
    generally cannot offer any protection, guarantee, immunity or
    indemnification.
    </p>
  </div>


  <div class="qa-about">
    <h2 class="question">
    Content We Host
    </h2>
    <p>
    You may find some material objectionable or erroneous: Because we provide a wide array of content that is produced or gathered by fellow users, you may encounter material that you find offensive, erroneous, misleading, mislabeled, or otherwise objectionable. We therefore ask that you use common sense and proper judgment when using our services.
Our content is for general informational purposes only: Although we host a great deal of information that pertains to professional topics, including medical, legal, or financial issues, this content is presented for general informational purposes only. It should not be taken as professional advice. Please seek independent professional counseling from someone who is licensed or qualified in the applicable area in lieu of acting on any information, opinion, or advice contained in Metacademy.
    </p>
  </div>
    <div class="qa-about">
    <h2 class="question">
      Licensing of Content
    </h2>
    <p>
      To grow the commons of free knowledge and free culture, all
    users contributing to Metacademy are required to grant broad
    permissions to the general public to re-distribute and re-use
    their contributions freely, so long as that use is properly
    attributed and the same freedom to re-use and re-distribute is
    granted to any derivative works. In keeping with our goal of
    providing free information to the widest possible audience, we
    require that when necessary all submitted content be licensed so
    that it is freely reusable by anyone who cares to access it. This
    license does not have to apply to linked content.

      You agree to the following licensing requirements:
      <ol>
        <li>
        Text to which you hold the copyright: When you submit text to
      which you hold the copyright, you agree to license it under the
      <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported
      License </a>
      ("CC BY-SA"), and <a href="http://www.gnu.org/copyleft/fdl.html">GNU Free Documentation License</a> ("GFDL")
      (unversioned, with no invariant sections, front-cover texts, or
      back-cover texts). (Re-users may comply with either license or both.)
        </li>
        <li>
        Attribution: Attribution is an important part of these
      licenses. We consider it giving credit where credit is due – to
      authors like yourself. When you contribute text, you agree to be
      attributed in any of the following fashions:
        <ol>
          <li>
          Through hyperlink (where possible) or URL to the article to which you contributed (since each article has a history page that lists all authors and editors)
          </li>
          <li>
          Through hyperlink (where possible) or URL to an alternative,
      stable online copy that is freely accessible, which conforms
      with the license, and which provides credit to the authors in a
      manner equivalent to the credit given on Metacademy; or
          </li>
          <li>
          Through a list of all authors (but please note that any list of authors may be filtered to exclude very small or irrelevant contributions).
          </li>
        </ol>
        </li>
        Importing text: You may import text that you have found elsewhere or that you have co-authored with others, but in such case you warrant that the text is available under terms that are compatible with the CC BY-SA 3.0 license ("CC BY-SA"). Content available only under GFDL is not permissible.
You agree that, if you import text under a CC BY-SA license that
      requires attribution, you must credit the author(s) in a
      reasonable fashion. Where such credit is commonly given through
      page histories, it is sufficient to give attribution in the edit
      summary, which is recorded in the page history, when importing
      the text. The attribution requirements are sometimes too
      intrusive for particular circumstances (regardless of the
      license), and there may be instances where the Metacademy
      community decides that imported text cannot be used for that
      reason.
        <li>
        Non-text media: Non-text media on Metacademy are available
      under a variety of different licenses that support the general
      goal of allowing unrestricted re-use and re-distribution. When
      you contribute non-text media, you agree to comply with the
      requirements for such licenses as described in our Licensing
      Policy, and also comply with the requirements of the Metacademy
      feature to which you are contributing.
        </li>
        <li>
        No revocation of license: Except as consistent with your
      license, you agree that you will not unilaterally revoke or seek
      invalidation of any license that you have granted under these
      Terms of Use for text content or non-text media contributed to
      Metacademy, even if you terminate use of our services.
        </li>
        <li>
        Public domain content: Content that is in the public domain is welcome! It is important however that you confirm the public domain status of the content under the law of the United States of America as well as the laws of any other countries as required. When you contribute content that is in the public domain, you warrant that the material is actually in the public domain, and you agree to label it appropriately.
        </li>
        <li>
        Re-use: Re-use of content that we host is welcome, though exceptions exist for content contributed under "fair use" or similar exemptions under copyright law. Any re-use must comply with the underlying license(s).
        </li>
        <li>
        Modifications or additions to material that you re-use: When
      modifying or making additions to text that you have obtained
        from Metacademy, you agree to license the modified or added
      content under CC BY-SA 3.0 or later. 
      When modifying or making additions to any non-text media that
      you have obtained from a Metacademy website, you agree to
      license the modified or added content in accordance with 
     whatever license under which the work has been made available.  
        With both text content and non-text media, you agree to
      clearly indicate that the original work has been modified. 
        </li>
      </ol>
    </p>
  </div>

  <div class="qa-about">
    <h2 class="question">
    Refraining from Certain Activities
    </h2>
    <p>
    We encourage you to be civil and polite in your interactions with
    others in the community, to act in good faith, and to make edits
    and contributions aimed at furthering the mission of
    Metacademy. Certain activities, whether legal or illegal, may be
    harmful to other users and violate our rules, and some activities
    may also subject you to liability. Therefore, for your own
    protection and for that of other users, you may not engage in such
    activities on our sites. These activities include:
    <ol>
      <li>Harassing and Abusing OthersEngaging in harassment, threats, stalking, spamming, or vandalism; and
Transmitting chain mail, junk mail, or spam to other users.</li>
      <li>Violating the Privacy of Others: Infringing the privacy rights of others under the laws of the United States of America or other applicable laws (which may include the laws where you live or where you view or edit content)</li>
      <li>Soliciting personally identifiable information for purposes of harassment, exploitation, violation of privacy, or any promotional or commercial purpose not explicitly approved by Metacademy; and Soliciting personally identifiable information from anyone under the age of 18 for an illegal purpose or violating any applicable law regarding the health or well-being of minors.</li>
      <li>Engaging in False Statements, Impersonation, or Fraud: Intentionally or knowingly posting content that constitutes libel or defamation;
With the intent to deceive, posting content that is false or
    inaccurate; Attempting to impersonate another user or individual,
    misrepresenting your affiliation with any individual or entity, or
    using the username of another user with the intent to deceive; and
    Engaging in fraud.</li>
      <li>Committing Infringement: Infringing copyrights, trademarks,
    patents, or other proprietary rights under applicable law.</li> 
      <li>Misusing Our Services for Other Illegal Purposes</li>
      <ol>
        <li> Posting or trafficking in obscene material that is unlawful under applicable law; and
        <li> Using the services in a manner that is inconsistent with
    applicable law. </li>
    <li> Engaging in Disruptive and Illegal Misuse of Facilities </li>
    <li> Posting or distributing content that contains any viruses,
    malware, worms, Trojan horses, malicious code, or other device
    that could harm our technical infrastructure or system or that of
    our users; </li>
    <li> Engaging in automated uses of the site that are abusive or
    disruptive of the services and have not been approved by us; </li>
    <li> Disrupting the services by placing an undue burden on
    Metacademy or the networks or servers connected with us; </li>
    <li> Disrupting the services by inundating any of the Metacademy
    websites with communications or other traffic that suggests no
    serious intent to use Metacademy for its stated purpose; </li>
    <li> Knowingly accessing, tampering with, or using any of our
    non-public areas in our computer systems without authorization;
    and </li>
    <li> Probing, scanning, or testing the vulnerability of any of our
    technical systems or networks</li>
    </ol>
    </ol>
    </p>
  </div>
  <div class="qa-about">
    <h2 class="question">
    Password Security
    </h2>
    <p>
    You are responsible for safeguarding your own password and should never disclose it to any third party.
    </p>
  </div>
  <div class="qa-about">
    <h2 class="question">
    DMCA Compliance
    </h2>
    <p>
    Metacademy wants to ensure that the content that we host can be re-used by other users without fear of liability and that it is not infringing the proprietary rights of others. In fairness to our users, as well as to other creators and copyright holders, our policy is to respond to notices of alleged infringement that comply with the formalities of the Digital Millennium Copyright Act (DMCA). Pursuant to the DMCA, we will terminate, in appropriate circumstances, users and account holders of our system and network who are repeat infringers.
    </p>
    <p>
    However, we also recognize that not every takedown notice is valid or in good faith. In such cases, we strongly encourage users to file counter-notifications when they appropriately believe a DMCA takedown demand is invalid or improper.
    </p>
    <p>
    If you are the owner of content that is being improperly used on Metacademy without your permission, you may request that the content be removed under the DMCA. To make such a request, please email us at legal@metacademy.org.
    </p>
  </div>
  <div class="qa-about">
    <h2 class="question">
    Third-party Websites and Resources 
    </h2>
    <p>
    You are solely responsible for your use of any third-party websites or resources. Although Metacademy contains links to third-party websites and resources, we do not endorse and are not responsible or liable for their availability, accuracy, or the related content, products, or services (including, without limitation, any viruses or other disabling features), nor do we have any obligation to monitor such third-party content.
    </p>
  </div>
  <div class="qa-about">
    <h2 class="question">
    Termination
    </h2>
    <p>
    Though we hope you will stay and continue to contribute to Metacademy, you can stop using our services any time. In certain (hopefully unlikely) circumstances it may be necessary for us to terminate part or all of our services, terminate these Terms of Use, block your account or access, or ban you as a user. If your account or access is blocked or otherwise terminated for any reason, your public contributions will remain publicly available (subject to applicable policies), and, unless we notify you otherwise, you may still access our public pages for the sole purpose of reading publicly available content on Metacademy. In such circumstances, however, you may not be able to access your account or settings. We reserve the right to suspend or end the services at any time, with or without cause, and with or without notice. 
    </p>
  </div>
  <div class="qa-about">
    <h2 class="question">
    Disputes and Jurisdiction
    </h2>
    <p>
    We hope that no serious disagreements arise involving you, but, in the event there is a dispute, we encourage you to seek resolution through our contact form. If you seek to file a legal claim against us, you agree to file and resolve it exclusively in a state or federal court located in Alameda County, California. You also agree that the laws of the State of California and, to the extent applicable, the laws of the United States of America will govern these Terms of Use, as well as any legal claim that might arise between you and us (without reference to conflict of laws principles). You agree to submit to the personal jurisdiction of, and agree that venue is proper in, the courts located in Alameda County, California, in any legal action or proceeding relating to us or these Terms of Use.

To ensure that disputes are dealt with soon after they arise, you agree that regardless of any statute or law to the contrary, any claim or cause of action you might have arising out of or related to use of our services or these Terms of Use must be filed within the applicable statute of limitations or, if earlier, one (1) year after the pertinent facts underlying such claim or cause of action could have been discovered with reasonable diligence (or be forever barred).
    </p>
  </div>

  <div class="qa-about">
    <h2 class="question">
    Disclaimers
    </h2>
    <p>
    At Metacademy, we do our best to provide educational and informational content to a very wide audience, but your use of our services is at your sole risk. We provide these services on an "as is" and "as available" basis, and we expressly disclaim all express or implied warranties of all kinds, including but not limited to the implied warranties of merchantability, fitness for a particular purpose, and non-infringement. We make no warranty that our services will meet your requirements, be safe, secure, uninterrupted, timely, accurate, or error-free, or that your information will be secure.

We are not responsible for the content, data, or actions of third parties, and you release us, our directors, officers, employees, and agents from any claims and damages, known and unknown, arising out of or in any way connected with any claim you have against any such third parties. No advice or information, whether oral or written, obtained by you from us or through or from our services creates any warranty not expressly stated in these Terms of Use.

Any material downloaded or otherwise obtained through your use of our services is done at your own discretion and risk, and you will be solely responsible for any damage to your computer system or loss of data that results from the download of any such material. You agree that we have no responsibility or liability for the deletion of, or the failure to store or to transmit, any content or communication maintained by the service. We retain the right to create limits on use and storage at our sole discretion at any time with or without notice.

Some states or jurisdictions do not allow the types of disclaimers in this section, so they may not apply to you either in part or in full depending on the law.
    </p>
  </div>
  <div class="qa-about">
    <h2 class="question">
    Limitation on Liability    
    </h2>
    <p>
    Metacademy will not be liable to you or to any other party for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data, or other intangible losses, regardless of whether we were advised of the possibility of such damage. In no event shall our liability exceed one hundred U.S. dollars (USD 100.00) in aggregate. In the case that applicable law may not allow the limitation or exclusion of liability or incidental or consequential damages, the above limitation or exclusion may not apply to you, although our liability will be limited to the fullest extent permitted by applicable law.
    </p>
  </div>
  <div class="qa-about">
    <h2 class="question">
    Modifications to these Terms of Use
    </h2>
    <p>
    We reserve the right to changes these Terms of Use. You will be notified via your Metacademy user account of any substantial changes to these terms.
    </p>
  </div>
  <div class="qa-about">
    <h2 class="question">
    Other Terms
    </h2>
    <p>
    These Terms of Use do not create an employment, agency, partnership, or joint venture relationship between you and us. If you have not signed a separate agreement with us, these Terms of Use are the entire agreement between you and us. If there is any conflict between these Terms of Use and a signed written agreement between you and us, the signed agreement will control.

    You agree that we may provide you with notices, including those regarding changes to the Terms of Use, by email, regular mail, or postings on Metacademy.

    If in any circumstance, we do not apply or enforce any provision of these Terms of Use, it is not a waiver of that provision.

    You understand that, unless otherwise agreed to in writing by us, you have no expectation of compensation for any activity, contribution, or idea that you provide to us, the community, or Metacademy.

    Notwithstanding any provision to the contrary in these Terms of Use, we (Metacademy) and you agree not to modify the applicable terms and requirements of any free license that is employed on Metacademy when such free license is authorized by these Terms of Use.

    These Terms of Use were written in English (U.S.). While we hope that translations of these Terms of Use are accurate, in the event of any differences in meaning between the original English version and a translation, the original English version takes precedence.

    If any provision or part of a provision of these Terms of Use is found unlawful, void, or unenforceable, that provision or part of the provision is deemed severable from these Terms of Use and will be enforced to the maximum extent permissible, and all other provisions of these Terms of Use will remain in full force and effect.
    </p>
  </div>

    <h2 class="question">
     Attribution
    </h2>
    <p>
     These "Terms of Use" were derived from the <a
     href="http://wikimediafoundation.org/">WikiMedia Foundation's</a>
     <a href="http://wikimediafoundation.org/wiki/Terms_of_Use">Terms
     of Use</a>, and this Text is available under the <a href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons
     Attribution-ShareAlike License</a>.
    </p>
  </div>
  
{% endblock %}
